.new-client-container {
  padding: 20px 70px 20px 50px;
  a.back-link {
    color: #006CAB;
    text-decoration: none;
    &:hover {
      color: #2196f3;
      text-decoration: underline;
    }
  }
  h1 {
    font-weight: 400;
  }
  .new-client-content {
    form {
      padding: 30px 20px 20px 20px;
      background: #fafafa;
      border-radius: 2px;
      border: 1px solid rgb(226, 229, 231);
      .new-client-form-actions {
        margin-top: 20px;
      }
    }
    .mat-form-field {
      padding: 10px 0px 10px 0px;
    }
    .new-client-description {
      margin-left: 20px;
      h3 {
        font-weight: 400;
      }
      .new-client-description-content {
        border-top: 1px solid rgb(226, 229, 231);
        p {
          margin-top: 20px;
          font-size: 14px;
        }
        small {
          font-size: 12px;
          color: rgba(0, 0, 0, 0.38);
        }
      }
    }
  }
}
