.doc-content {
  padding: 20px;
}

.mcp-details {
  margin-bottom: 10px;

  span {
    margin: 0;
    font-weight: 420;
  }

  p {
    margin: 0;
  }

  .link {
    display: flex;
    height: 100%;

    button {
      padding: 0;
    }

    mat-icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
      font-size: 18px;
    }

    p {
      margin: 0 10px 0 0;
    }
  }
}
