.assessment-container {
  h3 {
    font-weight: normal;
  }
}

.risk-based-options-titles {
  font-family: 'Golos UI', 'Roboto', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.4px;
  align-content: center;
}

.risk-based-group {
  border: 1px solid #d3d5dc;
  border-radius: 4px;
  padding: 4px;
  gap: 4px;
  color: #d3d5dc;
}

.mat-button-toggle-checked {
  background-color: #6c59bd;
  color: #ffffff;
}
