@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;

.application-creation-step1-container {
  small {
    color: rgb(0 0 0 / 87%);
  }

  .application-creation-step1-content {
    margin-top: 10px;

    mat-card {
      min-height: 280px;
      margin: 10px;

      &.selected,
      i.selected,
      .app-type-icon.selected {
        border: 1px solid mat.m2-get-color-from-palette(gio.$mat-primary-palette, 'default');
      }

      &:not(.selected) {
        border: 1px solid rgb(0 0 0 / 12%);
      }

      &:hover {
        cursor: pointer;
      }

      mat-card-content {
        margin-top: 10px;
        text-align: center;

        i,
        .app-type-icon {
          padding: 20px;
          border-radius: 50%;
          font-size: 42px;

          &:not(.selected) {
            border: 1px solid #e5e5e5;
          }
        }

        .app-type-icon {
          width: 82px;
          height: 82px;
        }

        p {
          color: #999;
          font-size: 0.875rem;
        }
      }
    }
  }
}
