.domain-overview-container {
  padding: 20px 70px 20px 50px;
  h1 {
    font-weight: 400;
  }
  .main-widgets {
    border-top: 1px solid rgb(226, 229, 231);
    border-bottom: 1px solid rgb(226, 229, 231);
    padding: 30px;
  }
  .domain-overview-description {
    border-left: 1px solid rgb(226, 229, 231);
    margin-left: 20px;
    padding-left: 20px;
    h3 {
      font-weight: 400;
    }
    .domain-overview-description-content {
      border-top: 1px solid rgb(226, 229, 231);
      p {
        margin-top: 20px;
        font-size: 14px;
      }
      small {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.38);
      }
    }
    .dashboard-description-actions {
      a {
        text-decoration: none;
      }
    }
  }
}
