.client-email-container {
  a {
    color: #006CAB;
    text-decoration: none;
    &:hover {
      color: #2196f3;
      text-decoration: underline;
    }
  }
  .client-email-content {
    margin-top: 10px;
    padding: 0px 20px 20px 20px;
    border-radius: 2px;
    border: 1px solid rgb(226, 229, 231);
  }
}

.client-email-description {
  margin-left: 20px;
  h3 {
    font-weight: 400;
  }
  .client-email-description-content {
    border-top: 1px solid rgb(226, 229, 231);
    p {
      margin-top: 20px;
      font-size: 14px;
    }
    small {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.38);
    }
  }
}
