ngx-datatable {
  .credential-header {
    align-items: center;
    margin: 0;

    .credential-icon {
      margin: 0 12px 0 0;
    }

    .factor-information {
      min-width: 0;
      flex: 1;
      padding: 0;
      margin: 0;

      h3 {
        display: flex;
        overflow: hidden;
        width: 100%;
        min-width: 0;
        margin: 0;
        font-size: 14px;
        font-weight: normal;

        > span[fxFlex] {
          overflow: hidden;
          min-width: 0;
          max-width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      small {
        color: rgb(0 0 0 / 54%);
      }
    }
  }
}

.warning {
  margin-left: 0;
  color: orange;
}

.alert {
  margin-left: 0;
  color: red;
}

:host {
  ::ng-deep .ngx-datatable.material {
    .datatable-body-cell,
    .datatable-header-cell {
      padding-left: 19px;
    }
  }
}
