ngx-datatable {
  .factor-information {
    padding: 0;
    margin: 0;

    h3 {
      margin: 0;
      font-size: 14px;
      font-weight: normal;
    }

    small {
      color: rgb(0 0 0 / 54%);
    }
  }
}

:host {
  ::ng-deep .ngx-datatable.material {
    .datatable-body-cell,
    .datatable-header-cell {
      padding-left: 19px;
    }
  }
}

