.certificate-creation-step2-container {
  h4 {
    margin: 0;
  }

  small {
    color: rgba(0,0,0,.87);
  }

  form {
    margin-bottom: 10px;
    text-align: left;
    padding: 20px;
    border-radius: 2px;
    border: 1px solid rgb(226, 229, 231);
  }

  .certificate-creation-step2-content {
    padding: 21px 0px 0px 0px;
  }

  .next-button {
    margin-top: 20px;
  }
}
