.gv-form-section {
  .mfa-section-title {
    display: flex;
    flex-direction: row;
    width: 100%;

    .mfa-title{
      width: 95%;
    }

    .mfa-chip {
      width: 5%;
      mat-chip-list {
        mat-chip {
          font-size: 11px;
          opacity: 1.0;
          background-color: transparent;
          border: thin solid rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
