.mfa-section-title {
  display: flex;
  flex-direction: row;
  width: 100%;

  .mfa-title {
    width: 95%;
  }

  .mfa-chip {
    margin-right: 10px;
    mat-chip-list {
      mat-chip {
        font-size: 11px;
        opacity: 1;
        background-color: transparent;
        border: thin solid rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.rule-title {
  font-weight: 700;
  letter-spacing: 0.4px;
  font-size: 14px;
  font-family: 'Golos UI', sans-serif;
}

.config-section {
  padding: 10px 0 0 44px;
}
