.mfa-section-title {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;

  .mfa-title {
    width: 95%;
  }

  .mfa-chip {
    margin-right: 10px;
  }
}

.rule-title {
  font-weight: 700;
  letter-spacing: 0.4px;
  font-size: 14px;
  font-family: 'Golos UI', sans-serif;
}

.config-section {
  padding: 10px 0 0 44px;
}
