.mat-badge-content {
  position: unset;
  background-color: #cac8d3;
  color: #000;
  font-weight: normal;
}

.mat-badge-medium.mat-badge-overlap .mat-badge-content {
  margin: unset;
}

.edit-policy-pencil {
  color: black;
  transform: scale(0.8);
}

::ng-deep .mdc-tooltip {
  white-space: pre-line !important;
}
