.domain-login-container {
  padding: 20px 70px 20px 50px;
  h1 {
    font-weight: 400;
  }
}

.hint {
  color: rgba(0, 0, 0, 0.38);
}

h4.disabled {
  color: rgba(0, 0, 0, 0.38)
}

.preview {
  margin-top: 10px;
}
