.gv-page-container {
  ngx-datatable {
    .entrypoint-name {
      h3 {
        margin: 0;
        font-size: 14px;
        font-weight: normal;
      }

      small {
        color: rgb(0 0 0 / 54%);
      }
    }
  }
}
