ngx-datatable {
  box-shadow: none !important;
}

:host ::ng-deep{
  a {
    text-decoration: none;
  }
  .ngx-datatable.material .datatable-footer .datatable-pager {
    ul li:not(:last-child):after {
      content: none;
    }
  }
}


