!.gitignore

target/
.idea/
*.iml
.DS_Store

# eclipse
.settings/
.project
.classpath
/bin/

gravitee.oauth2.log.dir_IS_UNDEFINED/
gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/logs/*
gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/plugins/*
