!.gitignore

target/
.idea/
*.iml
.DS_Store

# eclipse
.settings/
.project
.classpath
/bin/

gravitee.oauth2.log.dir_IS_UNDEFINED/
gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/logs/*
gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/plugins/*
gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/plugins/*
gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/logs/*


# used in makefile as working directory
.working

# vert.x
.vertx

dependency-reduced-pom.xml
audit-logs
gravitee-am-ui/.vscode/

# Cypress
gravitee-am-test/cypress/videos/
gravitee-am-test/cypress/screenshots/
**/node_modules/
**/.vscode
.dccache
cypress.env.json
gravitee-am-test/api/config/development.json

# Env files
.env

# ignore charts downloaded for helm build
helm/charts/

