.bot-protection-settings-description {
  .bot-protection-settings-description-contextual-help {
    color: rgb(0 0 0 / 38%);
    font-size: 12px;
  }
}

div.code > textarea {
  overflow: scroll;
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: inherit;
  color: black;
  resize: none;
}
