commands:
  create_docker_context:
    steps:
      - run:
          name: "Create docker context for buildx"
          command: |
            docker context create tls-env
            docker buildx create tls-env --use
  publish_bundle:
    parameters:
      dry_run:
        type: boolean
    steps:
      - keeper/env-export:
          secret-url: keeper://Mqmplmfu17bDR5XRLmO1mQ/field/password
          var-name: AWS_ACCESS_KEY_ID
      - keeper/env-export:
          secret-url: keeper://3-pU56sIqcyWWw7HxhxjaQ/field/password
          var-name: AWS_SECRET_ACCESS_KEY
      - when:
          condition: << parameters.dry_run>>
          steps:
            - aws-cli/setup:
                region: cloudfront
                version: 2.22.35
            - aws-s3/sync:
                arguments: --endpoint-url https://cellar-c2.services.clever-cloud.com --acl public-read
                from: /home/circleci/release/
                to: "s3://gravitee-dry-releases-downloads/"
      - when:
          condition:
            not: << pipeline.parameters.dry_run>>
          steps:
            - aws-cli/setup:
                region: cloudfront
                version: 2.22.35
            - aws-s3/sync:
                arguments: --endpoint-url https://cellar-c2.services.clever-cloud.com --acl public-read
                from: /home/circleci/release/
                to: "s3://gravitee-releases-downloads/"
  restore-maven-job-cache:
    description: Restore Maven cache for a dedicated job
    parameters:
      jobName:
        description: The job name
        type: string
        default: ""
    steps:
      - restore_cache:
          keys:
            - gravitee-access-management-v2-<< parameters.jobName >>-{{ .Branch }}-{{ checksum "pom.xml" }}
            - gravitee-access-management-v2-<< parameters.jobName >>-{{ .Branch }}-
            - gravitee-access-management-v2-<< parameters.jobName >>-
  save-maven-job-cache:
    description: Restore Maven cache for a dedicated job
    parameters:
      jobName:
        description: The job name
        type: string
        default: ""
    steps:
      - run:
          name: "Exclude all AM artefacts from cache."
          command: rm -rf ~/.m2/repository/io/gravitee/am
      - save_cache:
          paths:
            - ~/.m2
          key: gravitee-access-management-v2-<< parameters.jobName >>-{{ .Branch }}-{{ checksum "pom.xml" }}
          when: always
  notify-on-failure:
    steps:
      - keeper/env-export:
          secret-url: keeper://ZOz4db245GNaETVwmPBk8w/field/password
          var-name: SLACK_ACCESS_TOKEN
      - slack/notify:
          channel: C0336B2E96K
          event: fail
          mentions: "@am_team"
          template: basic_fail_1
  notify-on-success:
    steps:
      - keeper/env-export:
          secret-url: keeper://ZOz4db245GNaETVwmPBk8w/field/password
          var-name: SLACK_ACCESS_TOKEN
      - slack/notify:
          channel: C0336B2E96K
          event: pass
          template: basic_success_1
  mvn_git_commit_id:
    steps:
      - run:
          name: "Used by maven maven package"
          command: |
            echo "export BUILD_ID=${CIRCLE_BUILD_NUM}" >> $BASH_ENV
            echo "export BUILD_NUMBER=${CIRCLE_BUILD_NUM}" >> $BASH_ENV
            export GIT_COMMIT_ID=$(git rev-parse --short HEAD)
            echo "export GIT_COMMIT=${GIT_COMMIT_ID}" >> $BASH_ENV
            exit 0
  prepare-gpg:
    description: Prepare GPG command
    steps:
      - keeper/install
      - run:
          command: |
            ksm secret notation keeper://riW92t8X4tk4ZmQc8-FZ4Q/custom_field/armor_format_pub_key > pub.key
            gpg --import pub.key

            ksm secret notation keeper://riW92t8X4tk4ZmQc8-FZ4Q/custom_field/armor_format_private_key > private.key
            gpg --import --batch private.key
  git_config:
    description: This command runs the git config in your pipeline, for the bot user configured in your secret manager. It requires [bash]
    steps:
      - keeper/env-export:
          secret-url: keeper://IZd-yvsMopfQEa_0j1SDvg/field/login
          var-name: GIT_USER_NAME
      - keeper/env-export:
          secret-url: keeper://IZd-yvsMopfQEa_0j1SDvg/custom_field/email
          var-name: GIT_USER_EMAIL
      - keeper/env-export:
          secret-url: keeper://TIlcGPFq4rN5GvgnZb9hng/field/password
          var-name: GITHUB_TOKEN
      - add_ssh_keys:
          fingerprints:
            - "ac:88:23:8f:c6:0f:7d:f0:fc:df:73:20:34:56:02:6c"
      - run:
          name: Git Config
          command: |
            git config --global user.name "${GIT_USER_NAME}"
            git config --global user.email "${GIT_USER_EMAIL}"
