:host {
  mat-sidenav {
    overflow: scroll;
  }
  mat-sidenav-content {
    width: 100%;
  }
  ::ng-deep.settings-sidenav {
    margin: 0 !important;
  }
  ::ng-deep.mat-list-base {
    padding-top: 0;
  }
  .application-advanced-main-content {
    min-height: calc(100vh - 380px);
    margin-left: 20px;
  }
}
