form {
  .oauth2-grant-type {
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 0 15px;
    line-height: 34px;
    margin: 5px;
    background: #fff;
    border-radius: 4px;
  }
  .application-scopes {
    a {
      cursor: pointer;
      font-size: 75%;
      color: #2196f3;
    }
  }
  .type-section {
    width: 50%;
  }
  .type-selection {
    display: inline-flex;
    width: 100%;
  }
}

:host /deep/ .ngx-datatable.material .datatable-footer {
  display: none;
}

/deep/ datatable-scroller {
  width: 100% !important;
}
