mat-sidenav-content.gs-sidenav-content-min {
  margin-left: 60px !important;
}

:host {
  ::ng-deep.mat-drawer-inner-container {
    overflow: initial;
  }
  ::ng-deep.mat-drawer-side.main-sidenav {
    border-right: none;
  }
}
