.close-info:hover {
  cursor: pointer;
}

.show-info {
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  gap: 16px;
}

.more-info-button {
  font-family: 'Golos UI', Roboto, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 700;
  gap: 8px;
  letter-spacing: 0.4px;
}
