.oauth2-grant-type {
  padding: 0 15px;
  border: 1px solid rgb(0 0 0 / 12%);
  border-radius: 4px;
  margin: 5px;
  background: #fff;
  line-height: 34px;
}

.override-form-section {
  margin-top: 5px;

  > *:first-child {
    margin-bottom: 10px;
  }
}
