ngx-datatable {
  .policy-header {
    margin: 5px;
    align-items: center;
    .policy-icon {
      margin: 0 12px 0 0;
    }
    .policy-information {
      h3 {
        font-size: 14px;
        font-weight: normal;
        margin: 0;
      }
      small {
        color: rgba(0,0,0,.54);
      }
    }
  }
}

:host {
  ::ng-deep.policy-name-cell {
    padding: 0 !important;
  }
}
