<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agent Authorization</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{assets/css/main.css}">

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" th:href="${theme.faviconUrl} ?: @{assets/ico/favicon.ico}">

    <!-- Custom CSS -->
    <style th:if="${theme.css}" th:text="${theme.css}"></style>
    <style th:if="${theme.customCss}" th:text="${theme.customCss}"></style>
</head>

<body>

<div class="container">
    <div class="header">
        <img class="logo" th:src="${theme.logoUrl} ?: @{assets/images/gravitee-logo.svg}">
        <div class="title">
            <span>Agent Authorization Request</span>
        </div>
        <div class="header-description">
            <span class="deep-blue" th:text="${agentName}"></span>
            <span> is requesting access on your behalf</span>
        </div>
    </div>
    <div class="section">
        <form class="form" role="form" th:action="${action}" method="post">
            <div class="box center" th:each="scope : ${scopes}">
                <div>
                    <span th:text="(${scope.name})
                    ? ${scope.name} + ' (' + ${scope.key} + ')'
                    : ${scope.key}"></span>
                </div>
                <div th:if="${scope.description}">
                    <span class="grey" th:text="${scope.description}"></span>
                </div>
                <input type="hidden" th:name="'scope.'+${scope.key}" value="true"/>
            </div>

            <div th:if="${justification != null and !justification.isEmpty()}" style="margin-top: 10px; margin-bottom: 10px;">
                <span class="header-description start">
                    <strong>Reason: </strong>
                    <span th:text="${justification}"></span>
                </span>
            </div>

            <input type="hidden" name="code" th:value="${interactionCode}"/>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <div>
                <button type="submit" name="user_oauth_approval" value="true" class="button primary">Approve</button>
            </div>
            <div>
                <button type="submit" name="user_oauth_approval" value="false" class="button secondary">Deny</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
