<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
</head>

<body>
    <form id="callbackForm" th:action="${action}" method="post">
    </form>
    <script th:if="${deviceIdentifierProvider == 'FingerprintJsV3Pro'}" th:src="@{../assets/js/remember-device/fingerprintjs-v3-pro.js}"></script>
    <script th:if="${deviceIdentifierProvider == 'FingerprintJsV3Pro'}" th:attr="nonce=${script_inline_nonce}">
        (function() {
            loadFingerprintJsV3Pro("[[${fingerprint_js_v3_pro_browser_token}]]", "[[${fingerprint_js_v3_pro_region}]]", fp => {
                if (fp.visitorId) {
                    let inputDeviceId = document.createElement("input");
                    inputDeviceId.setAttribute("type", "hidden");
                    inputDeviceId.setAttribute("name", "deviceId");
                    inputDeviceId.value = fp.visitorId;
                    document.getElementById('callbackForm').appendChild(inputDeviceId);
                }
                document.getElementById('callbackForm').submit();
            });
        })();
    </script>

    <script th:if="${deviceIdentifierProvider == 'FingerprintJsV3Community'}" th:src="@{../assets/js/fp/fp.min.js}"></script>
    <script th:if="${deviceIdentifierProvider == 'FingerprintJsV3Community'}" th:src="@{../assets/js/remember-device/fingerprintjs-v3-gravitee.js}"></script>
    <script th:if="${deviceIdentifierProvider == 'FingerprintJsV3Community'}" th:attr="nonce=${script_inline_nonce}">
        (function() {
            loadFingerprintJsV3Gravitee(fp => {
                if (fp.visitorId) {
                    let inputDeviceId = document.createElement("input");
                    inputDeviceId.setAttribute("type", "hidden");
                    inputDeviceId.setAttribute("name", "deviceId");
                    inputDeviceId.value = fp.visitorId;
                    document.getElementById('callbackForm').appendChild(inputDeviceId);
                }
                if (fp.components && fp.components.platform && fp.components.platform.value) {
                    let inputDeviceType = document.createElement("input");
                    inputDeviceType.setAttribute("type", "hidden");
                    inputDeviceType.setAttribute("name", "deviceType");
                    inputDeviceType.value = fp.components.platform.value
                    document.getElementById('callbackForm').appendChild(inputDeviceType);
                }
                document.getElementById('callbackForm').submit();
            });
        })();
    </script>

    <script th:if="${rememberDeviceIsActive && deviceIdentifierProvider == 'CookieDeviceIdentifier'}" th:src="@{../assets/js/device-type-v1.js}"></script>
    <script th:if="${rememberDeviceIsActive && deviceIdentifierProvider == 'CookieDeviceIdentifier'}" th:attr="nonce=${script_inline_nonce}">
        (function() {
            const deviceId = "[[${cookieDeviceIdentifier}]]";

            let inputDeviceId = document.createElement("input");
            inputDeviceId.setAttribute("type", "hidden");
            inputDeviceId.setAttribute("name", "deviceId");
            inputDeviceId.value = deviceId;
            document.getElementById('callbackForm').appendChild(inputDeviceId);


            let inputDeviceType = document.createElement("input");
            inputDeviceType.setAttribute("type", "hidden");
            inputDeviceType.setAttribute("name", "deviceType");
            inputDeviceType.value = retrievePlatform(window.navigator);
            document.getElementById('callbackForm').appendChild(inputDeviceType);

            document.getElementById('callbackForm').submit();
        })();
    </script>
</body>
</html>
