<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
</head>

<body>
    <form id="callbackForm" th:action="@{callback}" method="post">
        <input type="hidden" th:name="provider" th:value="${providerId}"/>
        <input type="hidden" th:name="urlHash" id="urlhash">
    </form>
    <script>
        (function() {
            document.getElementById('urlhash').value = window.location.hash;
            document.getElementById('callbackForm').submit();
        })();
    </script>
</body>
</html>
