<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebAuthn Login</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{../assets/material/material.blue_grey-blue.min.css}">
    <link rel="stylesheet" th:href="@{../assets/material/material.icons.css}">
    <link rel="stylesheet" th:href="@{../assets/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{../assets/css/webauthn_login.css}">

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" th:href="@{../assets/ico/favicon.ico}">
</head>
<body>
    <div class="mdl-layout mdl-js-layout">
        <div class="webauthn-login-container">
            <div class="webauthn-login-form">
                <div class="webauthn-login-form-title">
                    <label>Sign in with fingerprint, device or security key</label>
                    <span>to continue to <span th:text="${domain.name}"></span></span>
                    <small>Enter your username and press sign in. A security window will pop up. Follow the instructions to sign in.</small>
                </div>
                <div id="webauthn-browser-error" class="webauthn-error-info" style="display: none;">
                    <span>
                        <span class="error">technical_error</span>
                        <small id="webauthn-browser-error-description" class="error_description"></small>
                    </span>
                </div>
                <form role="form" id="login" method="post" th:action="${action}">
                    <div class="webauthn-login-form-content">
                        <div class="input-textfield">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" autofocus="autofocus" required />
                        </div>
                        <div id="webauthn-error" class="webauthn-login-error-info" style="display: none;">
                            <span>
                                <span class="error">login_failed</span>
                                 <small class="error_description">Invalid user</small>
                            </span>
                        </div>
                    </div>
                    <div class="webauthn-login-form-actions">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Sign in</button>
                    </div>
                    <br />
                    <div class="webauthn-login-form-additional-actions">
                        <div th:if="${userActivityEnabled}">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect data-consent-section">
                                <input class="mdl-checkbox__input" type="checkbox" th:checked="${user_consent_ip_location}" id="user_consent_ip_location" name="user_consent_ip_location">
                                <span id="#label-consent-ip" class="mdl-checkboxm__label">I consent to the collection and use of IP-location information to improve security and for audit log purposes for a duration of [[${user_activity_retention_time}]]</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect data-consent-section">
                                <input class="mdl-checkbox__input" type="checkbox" th:checked="${user_consent_user_agent}" id="user_consent_user_agent" name="user_consent_user_agent">
                                <span id="#label-consent-" class="mdl-checkboxm__label">I consent to the collection and use of User-Agent information to improve security and for audit log purposes for a duration of [[${user_activity_retention_time}]]</span>
                            </label>
                        </div>
                        <div>
                            <span>Cannot login ? </span><a th:href="${loginAction}">switch to default sign in process</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{../assets/js/webauthn.auth-v2.js}"></script>
    <script th:src="@{../assets/js/webauthn-login-v2.js}"></script>
    <script th:if="${rememberDeviceIsActive}" th:src="@{../assets/js/jquery-3.5.1.min.js}"></script>

    <script th:if="${rememberDeviceIsActive && deviceIdentifierProvider == 'FingerprintJsV3Pro'}"
            th:src="@{../assets/js/remember-device/fingerprintjs-v3-pro.js}"></script>
    <script th:if="${rememberDeviceIsActive && deviceIdentifierProvider == 'FingerprintJsV3Pro'}" th:attr="nonce=${script_inline_nonce}">
        $(document).ready(function (){
            loadFingerprintJsV3Pro("[[${fingerprint_js_v3_pro_browser_token}]]", "[[${fingerprint_js_v3_pro_region}]]", fp => {
                if(fp.visitorId){
                    $( "#login" )
                        .append('<input type="hidden" id="deviceId" name="deviceId" value="' + fp.visitorId + '"/>')
                }
            });
        });
    </script>

    <script th:if="${rememberDeviceIsActive && deviceIdentifierProvider == 'FingerprintJsV3Community'}"
            th:src="@{../assets/js/remember-device/fingerprintjs-v3.js}"></script>
    <script th:if="${rememberDeviceIsActive && deviceIdentifierProvider == 'FingerprintJsV3Community'}" th:attr="nonce=${script_inline_nonce}">
        $(document).ready(function (){
            loadFingerprintJsV3(fp => {
                if (fp.visitorId) {
                    $("#login")
                        .append('<input type="hidden" id="deviceId" name="deviceId" value="' + fp.visitorId + '"/>')
                }
                if (fp.components && fp.components.platform && fp.components.platform.value) {
                    $("#login").append('<input type="hidden" id="deviceType" name="deviceType" value="' + fp.components.platform.value + '"/>');
                }
            });
        });
    </script>
</body>
</html>
