p {
  margin: 5px 0;
  font-size: smaller;
}

ngx-datatable {
  p {
    margin: 0;
    font-size: inherit;
  }

  .membership-header {
    align-items: center;
    margin: 5px;

    .membership-icon {
      margin: 0 12px 0 0;
    }

    .user-avatar {
      width: 40px;
      height: 40px;
      margin: 0 12px 0 0;

      img {
        border-radius: 50%;
      }
    }

    .membership-information {
      h3 {
        margin: 0;
        font-size: 14px;
        font-weight: normal;
      }

      small {
        color: rgb(0 0 0 / 54%);
      }
    }
  }
}

:host {
  ::ng-deep.membership-name-cell {
    padding: 0 !important;
  }
}
