// Monospace font for technical fields (thumbprint, serial number, PEM)
.monospace {
  font-family: monospace;
}

// Fix cursor for section titles
.gv-form-section-title {
  cursor: default !important;

  h5,
  small {
    cursor: default !important;
  }
}
