$fontColor: #fdfdfd;
$bgSettingsColor: #fafafa;
$fontSettingsColor: #637282;
$sidenavWidth: 200px;
$sidenavMinWidth: 60px;
$sidenavItemLeftWidth: 25px;
$sidenavReducedItemLeftWidth: 15px;
$sidenavItemBorderSize: 4px;
$sidenavFooterHeight: 100px;
$sidenavHeaderHeight: 64px;

@mixin min-max-width($width) {
  width: $width;
  min-width: $width;
  max-width: $width;
}

:host {
  ::ng-deep.mat-toolbar {
    padding: 0 16px 0 7px;
    background: transparent;
  }
}
.navigation-header {
  height: 100px;
  min-height: 100px;
  .logo-image {
    display: block;
    width: 48px;
    min-width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    border-radius: 5px;
  }
  .logo-text {
    margin-bottom: 7px;
    span {
      text-overflow: ellipsis;
      overflow: hidden;
      width: 132px;
      font-weight: 400;
      font-size: 14px;
      color: #686B73;
      small {
        color: #CDCCCC;
        font-weight: 300;
        font-size: 10px;
        position: absolute;
        top: 25px;
        right: 15px;
      }
    }
  }
}

.gv-sidenav {
  @include min-max-width($sidenavWidth);
  img.logo-image {
    margin-left: 15px;
  }
}
.gv-sidenav-min {
  @include min-max-width($sidenavMinWidth);
  img.logo-image {
    margin-left: 0px;
  }
  .sidenav-list {
    a {
      width: 74%;
      padding: 7px 0 8px $sidenavReducedItemLeftWidth;
    }
  }
}
.gv-sidenav-settings {
  background-color: $bgSettingsColor;
  .navigation-header {
    background-color: $bgSettingsColor;
  }
  a {
    color: $fontSettingsColor !important;
  }
  .sidenav-footer {
    mat-icon {
      color: $fontSettingsColor;
    }
  }
}

.sidenav-list {
  overflow-y: auto;
  height: calc(100vh - #{$sidenavFooterHeight} - #{$sidenavHeaderHeight});
  mat-list-item {
    min-height: 40px;
    margin-left: -16px;
    margin-bottom: -6px;
  }
  a {
    color: $fontColor;
    position: absolute;
    text-decoration: none;
    width: 92%;
    padding: 7px 0 8px $sidenavItemLeftWidth;
    &:hover, &.sidenav-active {
      font-weight: bold;
      .mat-icon {
        font-weight: bold;
      }
    }
  }
  span {
    font-size: 14px;
    margin-left: 4px;
  }
}

.sidenav-footer {
  height: $sidenavFooterHeight;
  width: 100%;
  mat-icon {
    color: $fontColor;
  }
  mat-list-item:last-child {
    margin-top: -20px;
  }
  .mat-icon-button {
    flex-shrink: inherit;
  }
}

a > mat-icon {
  vertical-align: middle;
}

