.rule {
  --rule-status-margin-end: 3px;
  --rule-status-width: 24px;

  &:last-child {
    margin-bottom: 1em;
  }

  margin-bottom: 0.3em;

  .rule-status {
    width: var(--rule-status-width);
    margin-inline-end: var(--rule-status-margin-end);
  }

  mat-spinner {
    width: var(--rule-status-width) !important;
    height: 20px !important;
    margin-inline-end: var(--rule-status-margin-end);
  }
}
