.new-application-container {
  padding: 20px 30px 0px 30px;
  a.back-link {
    color: #006CAB;
    text-decoration: none;
    &:hover {
      color: #2196f3;
      text-decoration: underline;
    }
  }
  h1 {
    font-weight: 400;
  }
  mat-horizontal-stepper {
    border: 1px solid #e2e5e7;
    margin: 5px;
    h5 {
      margin: 0;
    }
    small {
      color: #999;
    }
    button {
      min-width: 100px;
    }
    .application-creation-stepper-button-zone {
      margin-top: 20px; border-top: 1px solid #e2e5e7; padding: 10px;
    }
    /deep/ .mat-horizontal-stepper-header-container {
      max-width: 50%;
      margin: 0 auto;
    }
    /deep/ .mat-horizontal-content-container {
      padding: 24px;
      border-top: 1px solid #e2e5e7;
    }
  }
  .new-application-description {
    margin-left: 20px;
    h3 {
      font-weight: 400;
    }
    .new-application-description-content {
      border-top: 1px solid rgb(226, 229, 231);
      p {
        margin-top: 20px;
        font-size: 14px;
      }
      small {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.38);
      }
    }
  }
}

:host /deep/ .mat-step-header .mat-step-icon-selected, /deep/ .mat-step-header .mat-step-icon-state-edit, /deep/ .mat-step-header .mat-step-icon-state-done {
  background-color: #2295F3;
}
