<form autocomplete="off">
  <h2 mat-dialog-title>New Client Secret</h2>
  <mat-dialog-content>
    <p class="step">Step 1 of 2</p>
    <p class="step">Client Secret Details</p>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Client Secret Description</mat-label>
      <input
        matInput
        type="text"
        name="description"
        [formControl]="descriptionControl"
        placeholder="Description"
      />
      <mat-hint>Add a description to help identify your Client Secret.</mat-hint>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button [disabled]="!descriptionControl.valid" (click)="closeDialog()" color="primary" type="button">
      Next
    </button>
  </mat-dialog-actions>
</form>
