// Common
.warning-box {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 3px solid #fe733f;
  border-radius: 8px;
  margin-bottom: 10px;
  background: #fff;
  color: #000;
}

.warning-icon {
  margin-right: 10px;
  color: #fe733f;
  font-size: 20px;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.step {
  margin-bottom: 25px;
  color: #777888;
  font-size: 18px;
  font-weight: bold;
}

// Settings
.edit-domain-btn {
  white-space: nowrap;
}

.subtitle {
  margin-bottom: 20px;
  color: #000;
}

mat-slide-toggle {
  display: block;
  margin: 15px 0;
}

.confirmation-text {
  margin-top: 15px;
  color: #000;
  font-weight: bold;
}

// Delete
.description-text {
  background: #ffece5;
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New',
    monospace, serif;
}

p {
  color: #000;
  font-weight: normal;
}

:host ::ng-deep .ngx-datatable.material {
  .datatable-header {
    .datatable-header-cell {
      padding: 10px 10px 10px 19px;
      border-width: 1px 0;
      border-style: solid;
      border-color: #d3d5dc;
      background-color: #f7f8fd;
      color: #606274;
      font-size: 12px;
      font-weight: 700;

      &.status-header-cell {
        padding: 10px 10px 10px 30px;
      }
    }
  }
}
