//Common
.warning-box {
  display: flex;
  align-items: center;
  border: 3px solid #FE733F;
  background: #ffffff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  color: #000000;
}

.warning-icon {
  color: #FE733F;
  margin-right: 10px;
  font-size: 20px;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.step {
  color: #777888;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
}

//Settings
.edit-domain-btn {
  white-space: nowrap;
}

.subtitle {
  margin-bottom: 20px;
  color:#000000;
}

mat-slide-toggle {
  margin: 15px 0;
  display: block;
}

.confirmation-text {
  color: #000000;
  font-weight: bold;
  margin-top: 15px;
}

//Delete
.description-text {
  background: #FFECE5;
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif
}

p {
  color: #000000;
  font-weight: normal;
}
