a {
  text-decoration: none;

  mat-icon {
    color: grey;
  }
}

a.expanded {
  color: grey;
  text-decoration: none;

  &:hover {
    color: grey;
    text-decoration: none;
  }
}

:host {
  ::ng-deep.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    &:first-child {
      padding-left: 32px;
    }
  }
}
