ngx-datatable {
  .extension-grant-header {
    margin: 5px;
    align-items: center;
    .extension-grant-icon {
      margin: 0 12px 0 0;
    }
    .extension-grant-information {
      h3 {
        font-size: 14px;
        font-weight: normal;
        margin: 0;
      }
      small {
        color: rgba(0,0,0,.54);
      }
    }
  }
}

:host {
  ::ng-deep.extension-grant-name-cell {
    padding: 0 !important;
  }
}
