.token-granter-container {
  padding: 20px 70px 20px 50px;

  h1 {
    font-weight: 400;
  }

  h4 {
    margin: 0;
  }

  .token-granter-contextual-help {
    padding: 20px;
    border: 1px solid rgb(226 229 231);
    border-radius: 2px;
  }

  .token-granter-content {
    padding: 20px 0;
  }

  .token-granter-description {
    margin-left: 20px;

    h3 {
      font-weight: 400;
    }

    .token-granter-description-content {
      border-top: 1px solid rgb(226 229 231);

      p {
        margin-top: 20px;
        font-size: 14px;
      }

      small {
        color: rgb(0 0 0 / 38%);
        font-size: 12px;
      }
    }
  }

  .token-granter-settings-delete-zone {
    padding: 20px;
    border: 1px solid #e2e5e7;
    border-radius: 2px;
    margin-top: 20px;
    color: #f44336;
    font-size: 75%;

    .provider-settings-delete-button {
      margin-top: 20px;
    }
  }
}
