.roles-search {
  text-align: center;
  mat-form-field {
    width: 70%;
  }
  mat-icon {
    vertical-align: middle;
    padding-bottom: 4px;
  }
}

ngx-datatable {
  .role-header {
    margin: 5px;
    align-items: center;
    .role-icon {
      margin: 0 12px 0 0;
    }
    .role-information {
      h3 {
        font-size: 14px;
        font-weight: normal;
        margin: 0;
      }
      small {
        color: rgba(0,0,0,.54);
      }
    }
  }
}

:host {
  ::ng-deep.role-name-cell {
    padding: 0 !important;
  }
}
