.provider-settings-contextual-help {
  border-radius: 2px;
  border: 1px solid rgb(226, 229, 231);
  padding: 20px;
  margin-bottom: 10px;
}

.social-provider-settings-description {
  .social-provider-settings-description-contextual-help {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.38);
  }
}
