.form-alignment {
  align-items: center;
  margin-top: 10px;
}

.large-input {
  width: 90%;
}

.info {
  margin-left: 10px;
}

.idp-title {
  display: inline-block;

  .mat-badge-content {
    position: unset;
    margin-bottom: -5px;
    margin-left: 10px;
    background-color: #d1b7d7;
    color: black;
    font-weight: normal;
  }
}

.idp-section-description {
  display: flex;
}

.idp-section-description span {
  flex: 4;
}

.idp-section-description a {
  flex: 1;
  color: black;
}
