.group-settings-container {
  .group-settings-delete-zone {
    color: #f44336;
    font-size: 75%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #e2e5e7;
    .group-settings-delete-button {
      margin-top: 20px;
    }
  }
  .group-description {
    margin-left: 20px;
    h3 {
      font-weight: 400;
    }
    .group-description-content {
      border-top: 1px solid rgb(226, 229, 231);
      p {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.38);
      }
      mat-icon {
        color: grey;
      }
    }
  }
}
