.email-container {
  h1 {
    font-weight: 400;
  }

  .email-delete-zone {
    padding: 20px;
    border: 1px solid #e2e5e7;
    border-radius: 2px;
    margin-top: 20px;
    color: #f44336;
    font-size: 75%;

    .email-delete-button {
      margin-top: 20px;
    }
  }
}

.hint {
  color: rgb(0 0 0 / 38%);
}

h4.disabled {
  color: rgb(0 0 0 / 38%);
}

.preview {
  background: #fff;
}
