.email-container {
  h1 {
    font-weight: 400;
  }
  .email-delete-zone {
    color: #f44336;
    font-size: 75%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #e2e5e7;
    .email-delete-button {
      margin-top: 20px;
    }
  }
}

.hint {
  color: rgba(0, 0, 0, 0.38);
}

h4.disabled {
  color: rgba(0, 0, 0, 0.38);
}

.preview {
  background: #fff;
}
