.doc-content {
  max-width: 748px;
  padding: 20px 0 0 30px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.mcp-details {
  margin-top: 15px;
  margin-bottom: 10px;

  span {
    margin: 0;
    font-weight: 420;
  }

  p {
    max-width: 100%;
    margin: 0;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
  }

  .link {
    display: flex;
    height: 100%;
    align-items: flex-start;

    button {
      padding: 0;
    }

    mat-icon {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      margin-top: 2px;
      cursor: pointer;
      font-size: 18px;
    }

    p {
      max-width: 100%;
      margin: 0 10px 0 0;
      overflow-wrap: break-word;
      word-break: break-word;
      word-wrap: break-word;
    }
  }
}

.tools-header {
  .tools-header-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    h5 {
      margin: 0;
    }
  }
}

.tools-chips {
  margin-top: 16px;

  mat-chip-listbox {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
