.provider-mappers-container {
  small.note {
    color: grey;
  }
}

.ngx-datatable.material {
  box-shadow: none;
  margin-top: 20px;
  font-size: 14px;

}

.provider-mappers-actions {
  button, a {
    top: -7px;
    color: grey;
  }
}

.datatable-input {
  font-size: 12px;
}

.add-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.add-button-center {
  text-align: center;
}
