div.gv-breadcrumb {
  display: flex;
  height: 54px;
  align-items: center;
  margin-bottom: 2px;
  background: #fff;
  box-shadow: 0 1px 2px rgb(17 24 39 / 6%), 0 1px 3px rgb(17 24 39 / 10%);

  ul {
    display: flex;
    padding-left: 20px;
    list-style-type: none;

    li {
      &:not(:last-child)::after {
        margin-right: 5px;
        margin-left: 5px;
        content: '>';
        font-weight: 500;
      }

      a {
        cursor: pointer;
        font-size: 14px;
        text-decoration: none;
      }
    }
  }
}
