.management-general-container {
  padding: 20px 70px 20px 50px;
  h1 {
    font-weight: 400;
  }
  .management-general-content {
    h2 {
      font-size: 18px;
      font-weight: 500;
      color: grey;
    }
    small {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.38);
    }
    form {
      margin-top: 10px;
      padding: 20px;
      background: #fafafa;
      border-radius: 2px;
      border: 1px solid rgb(226, 229, 231);
      .management-enable-state {
        margin-bottom: 30px;
        mat-hint {
          font-size: 75%;
        }
      }
      .management-general-form-actions {
        margin-top: 20px;
      }
      h4 {
        margin: 0px 0px 5px 0px;
      }
    }
    .management-general-description {
      margin-left: 20px;
      h3 {
        font-weight: 400;
      }
      .management-general-description-content {
        border-top: 1px solid rgb(226, 229, 231);
        p {
          margin-top: 20px;
          font-size: 14px;
        }
        small {
          font-size: 12px;
          color: rgba(0, 0, 0, 0.38);
        }
      }
    }
  }
}
