.new-provider-container {
  padding: 20px 30px 0px 30px;
  a.back-link {
    color: #006CAB;
    text-decoration: none;
    &:hover {
      color: #2196f3;
      text-decoration: underline;
    }
  }
  h1 {
    font-weight: 400;
  }
  mat-horizontal-stepper {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    margin: 5px;
    /deep/ .mat-horizontal-stepper-header-container {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    }
    /deep/ .mat-horizontal-content-container {
      padding: 24px;
    }
  }
  .new-provider-steps-info {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    margin: 5px;
    .new-provider-steps-info-header {
      padding: 8px;
      h4 {
        margin-left: 8px;
        font-weight: 500;
      }
    }
    mat-vertical-stepper {
      pointer-events: none;
      h5 {
        margin: 0;
      }
      .provider-selected {
        color: #2196f3;
      }
    }
  }
}
