.gv-page-container {
  .gv-page-content {
    ngx-datatable {
      .bot-header {
        align-items: center;
        margin: 5px;

        .bot-icon {
          margin: 0 12px 0 0;
        }

        .bot-information {
          h3 {
            margin: 0;
            font-size: 14px;
            font-weight: normal;
          }

          small {
            color: rgb(0 0 0 / 54%);
          }
        }
      }
    }
  }
}

:host {
  ::ng-deep.bot-name-cell {
    padding: 0 !important;
  }
}
