.applications-search {
  text-align: center;

  mat-form-field {
    width: 70%;
  }

  mat-icon {
    padding-bottom: 4px;
    vertical-align: middle;
  }
}

.gv-page-content {
  ngx-datatable {
    .app-header {
      align-items: center;
      margin: 5px;

      .app-logo {
        width: 40px;
        height: 40px;
        margin: 0 12px 0 0;

        img {
          border-radius: 25%;
        }
      }

      .app-information {
        small {
          color: rgb(0 0 0 / 54%);
        }
      }
    }
  }
}

:host ::ng-deep.app-name-cell {
  padding: 0 !important;

  a {
    text-decoration: none;
  }
}

:host ::ng-deep.mat-badge-small .mat-badge-content {
  width: 12px;
  height: 12px;
  line-height: 12px;
}

:host ::ng-deep.app-disabled .mat-badge-content {
  background: red;
  color: white;
}

:host ::ng-deep.app-is-template .mat-badge-content {
  background: #ff9100;
  color: white;
}

:host ::ng-deep.app-enabled .mat-badge-content {
  background: limegreen;
  color: white;
}

.tool-count {
  display: flex;
  align-items: center;
  gap: 8px;

  .tool-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
    color: #666;
  }

  span {
    color: #333;
    font-weight: 500;
  }
}
