.applications-search {
  text-align: center;
  mat-form-field {
    width: 70%;
  }
  mat-icon {
    vertical-align: middle;
    padding-bottom: 4px;
  }
}
.gv-page-content {
  ngx-datatable {
    .app-header {
      margin: 5px;
      align-items: center;
      .app-logo {
        width: 40px;
        height: 40px;
        margin: 0 12px 0 0;
        img {
          border-radius: 25%;
        }
      }
      .app-information {
        small {
          color: rgba(0,0,0,.54);
        }
      }
    }
  }
}

:host /deep/ .app-name-cell {
  padding: 0 !important;
  a {
    color: #006CAB;
    text-decoration: none;
    &:hover {
      color: #2196f3;
    }
  }
}

:host /deep/ .mat-badge-small .mat-badge-content {
  width: 12px;
  height: 12px;
  line-height: 12px;
}

:host /deep/ .mat-badge-small.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: 1px;
}

:host /deep/ .mat-badge-small.mat-badge-above .mat-badge-content {
  top: -2px;
}

:host /deep/ .app-enabled .mat-badge-content {
  color: white;
  background: limegreen;
}

:host /deep/ .app-is-template .mat-badge-content {
  color: white;
  background: orange;
}

:host /deep/ .app-disabled .mat-badge-content {
  color: white;
  background: red;
}
