h1 {
  margin-bottom: 0;
}

.scopes-search {
  text-align: center;

  mat-form-field {
    width: 70%;
  }

  mat-icon {
    padding-bottom: 4px;
    vertical-align: middle;
  }
}

p {
  margin: 5px 0;
  font-size: smaller;
}

ngx-datatable {
  .scope-header {
    align-items: center;
    margin: 5px;

    .scope-icon {
      margin: 0 12px 0 0;
    }

    .scope-information {
      h3 {
        margin: 0;
        font-size: 14px;
        font-weight: normal;
      }

      small {
        color: rgb(0 0 0 / 54%);
      }
    }
  }
}

:host {
  ::ng-deep.scope-name-cell {
    padding: 0 !important;
  }
}
