p {
  font-size: smaller;
  margin: 5px 0;
}

ngx-datatable {
  .scope-header {
    margin: 5px;
    align-items: center;
    .scope-icon {
      margin: 0 12px 0 0;
    }
    .scope-information {
      h3 {
        font-size: 14px;
        font-weight: normal;
        margin: 0;
      }

      small {
        color: rgba(0,0,0,.54);
      }
    }
  }
}

:host {
  ::ng-deep.scope-name-cell {
    padding: 0 !important;
  }
  ::ng-deep.mat-chip-list-wrapper .mat-standard-chip, .mat-chip-list-wrapper input.mat-input-element {
    margin: 2px 0px 0px 10px;
    min-height: 24px;
  }
}
