:host {
  ::ng-deep.row-disabled {
    border: 1px solid #fafafa;
    background: #f1f1f1;

    datatable-body-cell {
      color: grey !important;
      font-size: 85% !important;
      font-style: italic !important;
    }
  }

  ::ng-deep.email-template-name-cell {
    padding: 0 !important;
  }
}

.emails-content {
  ngx-datatable {
    box-shadow: none;
    font-size: 14px;

    .email-template-header {
      align-items: center;
      margin: 5px;

      .email-template-icon {
        margin: 0 12px 0 0;
      }

      .email-template-information {
        h3 {
          margin: 0;
          font-size: 14px;
          font-weight: normal;
        }

        small {
          color: rgb(0 0 0 / 54%);
        }
      }
    }
  }
}

.emails-actions {
  margin-left: -10px;

  button,
  a {
    top: -9px;
    color: grey;
  }
}
