.link {
  width: 275px;
  color: #606274;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

:host ::ng-deep .mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}
