.mdl-layout.mdl-js-layout {
    display: block;
    background-color: #f7f7f7;
    color: #333;
    font-size: 12px;
}

.mfa-challenge-alternatives-container {
    max-width: 720px;
    margin: auto;
    padding: 8% 0 0;
}

.mfa-challenge-alternatives-form {
    background: #fff;
    padding: 45px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.mfa-challenge-alternatives-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.mfa-challenge-alternatives-form-title {
    text-align:center;
}

.mfa-challenge-alternatives-form-title > label {
    font-size: 28px;
    font-weight: 400;
    margin: 0 auto;
}

.mfa-challenge-alternatives-form-description {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mfa-challenge-alternatives-form-actions {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.mfa-challenge-alternatives-form-actions button.button--skipped {
    border: none;
    font-size: 14px;
    color: rgb(68,138,255);
    cursor: pointer;
}

.mdl-textfield__label.mdl-required:after {
    content: ' *';
    visibility: visible;
    position: initial;
    background-color: transparent;
}

.mdl-textfield.is-invalid .mdl-textfield__label:after {
    background-color: transparent;
}

.mdl-textfield__icon {
    width: 32px;
    text-align: center;
    position: absolute;
    color: #555;
    line-height: 1.5;
}

.mdl-textfield__icon ~ * {
    margin-left: 32px;
    width: calc(100% - 48px);
}

.mfa-challenge-alternatives-error-info {
    font-weight: bold;
    color: #EF3B3A;
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #e2e5e7;
    margin-bottom: 20px;
}

.mfa-challenge-alternatives-error-info .error {
    font-weight: bold;
}

.mfa-challenge-alternatives-error-info .error_description:before {
    content: " : ";
}

a, a:hover, a:focus {
    text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.mdl-button {
    min-width: 100px;
    padding: 0;
}
