#passwordSettings {
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin: 10px 0 10px 0;
}
#passwordSettings p {
    padding: 0 35px;
    font-size: 14px;
}
#passwordSettings p:first-of-type {
    margin-top: 10px;
}
.valid {
    color: green;
}
.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}
.invalid {
    color: red;
}
.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

.advice {
    color: black;
}

.advice:before {
    position: relative;
    left: -35px;
    content: "•";
}

