.mdl-layout.mdl-js-layout {
    display: block;
    background-color: #f7f7f7;
    color: #333;
    font-size: 14px;
}

.reset-password-container {
    max-width: 740px;
    margin: auto;
    padding: 8% 0 0;
}

.reset-password-form {
    background: #FFFFFF;
    padding: 45px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.reset-password-form form {
    display: flex;
    flex-direction: column;
    margin-top: 30px
}

.reset-password-form-title {
    display: flex;
    flex-direction: column;
}

.reset-password-form-title > label {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 5px;
}

.reset-password-form-title > span {
    color: grey;
}

.reset-password-form-content .input-textfield {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.reset-password-form-content .input-textfield:last-child {
    margin-bottom: 20px;
}

.reset-password-form-content .input-textfield input {
    border: 1px solid #e1e4e8;
    padding: 10px;
    font-size: 12px;
}

.reset-password-form-actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.reset-password-error-info {
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #e2e5e7;
}

.reset-password-error-info .error {
    color: orange;
    font-weight: bold;
}

.error {
    font-weight: bold;
    color: #EF3B3A;
    text-align: center;
}

.error-left {
    font-weight: bold;
    color: #EF3B3A;
    text-align: left;
}

a, a:hover, a:focus {
    text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
