form {
  padding: 20px;
  background: #fafafa;
  border-radius: 2px;
  border: 1px solid rgb(226, 229, 231);
}

.account-settings-zone {
  padding: 10px;
  background-color: #f1f1f1;
  margin-top: 20px;
}
