<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Access Error</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{assets/material/material.blue_grey-blue.min.css}">
    <link rel="stylesheet" th:href="@{assets/LibreFranklin/font-libre-franklin.css}">
    <link rel="stylesheet" th:href="@{assets/css/access_error.css}">

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" th:href="@{assets/ico/favicon.ico}">
</head>

<body>
    <div class="mdl-layout mdl-js-layout">
        <div class="access-error-container">
            <div class="access-error-content">
                <h1>Access error</h1>

                <p>Please go back to your client application and try again, or
                    contact the owner and ask for support</p>
            </div>
        </div>
    </div>

    <script th:src="@{assets/material/material.min.js}"></script>
</body>
</html>
