a.gv-accent-link {
  cursor: pointer;
  font-size: 75%;
}

.gv-page-description-content {
  p {
    color: rgb(0 0 0 / 38%);
    font-size: 12px !important;
  }

  mat-icon {
    height: 40px;
    padding-top: 10px;
    color: grey;
  }
}

.policy-icon {
  margin: 5px 0 0;
  color: black;
}

.mat-mdc-list-item-icon {
  color: #808080;
}

.mat-mdc-list-item-title {
  color: #000000de;
  font-size: 18px;
}

.mat-mdc-list-item-line {
  color: #00000061;
  font-size: 12px;
}

:host ::ng-deep .ngx-datatable.material {
  .datatable-header {
    .datatable-header-cell {
      padding: 10px 10px 10px 19px;
      border-width: 1px 0;
      border-style: solid;
      border-color: #d3d5dc;
      background-color: #f7f8fd;
      color: #606274;
      font-size: 12px;
      font-weight: 700;
    }
  }
}

table.dataTable tbody td {
  vertical-align: top;
}

ngx-datatable {
  .gv-table-cell-actions {
    margin-top: -10px;
  }
}

password-policy-status {
  margin-block-start: 0.2em;
  margin-inline-start: 15px;
}
