a.gv-accent-link {
  cursor: pointer;
  font-size: 75%;
}

.gv-page-description-content {
  p {
    color: rgb(0 0 0 / 38%);
    font-size: 12px !important;
  }

  mat-icon {
    height: 40px;
    padding-top: 10px;
    color: grey;
  }
}

.mat-mdc-list-item-icon {
  color: #808080;
}

.mat-mdc-list-item-title {
  color: #000000de;
  font-size: 18px;
}

.mat-mdc-list-item-line {
  color: #00000061;
  font-size: 12px;
}
