.entrypoints-title {
  display: inline-block;
}

.entrypoints-actions {
  span {
    padding-right: 10px;
    color: grey;
  }

  height: 30px;
  padding-bottom: 30px;
}

.mat-mdc-icon-button {
  width: 25px;
  height: 25px;
}

.form-field {
  padding-left: 12px;
}

.hint {
  display: block;
  font-family: Roboto, 'Helvetica Neue Light', sans-serif;
  font-size: 75%;
}

mat-icon {
  color: grey;
}

.warning {
  mat-icon {
    margin-right: 20px;
  }

  p {
    margin-block-end: 0;
  }
}

a {
  cursor: pointer;
}

.switch-mode {
  padding-left: 12px;
  font-size: 12px;
  text-decoration: none;
}

#cors-settings > .mat-mdc-form-field {
  margin-bottom: 15px;
}
