.provider-roles-description {
  margin-left: 20px;
  h3 {
    font-weight: 400;
  }
  .provider-roles-description-content {
    border-top: 1px solid rgb(226, 229, 231);
    p {
      margin-top: 20px;
      font-size: 14px;
    }
    small {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.38);
    }
  }
}

.add-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.add-button-center {
  text-align: center;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

mat-list {
  margin-bottom: 40px;
}
