.provider-roles-example {
  margin-top: 10px;
}

.add-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.add-button-center {
  text-align: center;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

mat-list {
  margin-bottom: 40px;
}
