:host ::ng-deep.ngx-datatable.material .datatable-footer {
  display: none;
}

.mfa-section-title {
  display: flex;
  flex-direction: row;
  width: 100%;

  .mfa-title {
    width: 95%;

    h5 {
      display: inline-block;

      .mat-badge-content {
        background-color: #c0b8d2;
        top: 0;
        right: -35px;
      }
    }


  }

  .mfa-chip {
    margin-right: 10px;
    mat-chip-list {
      mat-chip {
        font-size: 11px;
        opacity: 1;
        background-color: transparent;
        border: thin solid rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.factor-cell-title {
  display: flex;
  align-items: center;

  .factor-type {
    margin-left: 5px;
  }
}

.no-factor-selected-box{
  text-align: center;
}
