.mfa-section-title {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;

  .mfa-title {
    width: 95%;
  }

  .mfa-chip {
    margin-right: 10px;
  }
}

.factor-cell-title {
  display: flex;
  align-items: center;

  .factor-type {
    margin-left: 5px;
  }
}
