@use '@gravitee/ui-particles-angular' as palettes;
@use '@angular/material' as mat;

.mfa-section-title {
  display: flex;
  width: 100%;
  flex-direction: row;

  .mfa-title {
    width: 95%;

    h5 {
      display: inline-block;

      .mat-badge-content {
        top: 0;
        right: -35px;
        background-color: #c0b8d2;
      }
    }
  }

  .mfa-chip {
    margin-right: 10px;
  }

  .badge-border {
    padding: 5px 12px;
    border: solid 2px #e7e8ef;
    gap: 4px;
  }
}

.factor-cell-title {
  display: flex;
  align-items: center;

  .factor-type {
    margin-left: 5px;
  }
}

.no-factor-selected-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .bell-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 50px;
    background: mat.m2-get-color-from-palette(palettes.$mat-primary-palette, lighter);
    color: mat.m2-get-color-from-palette(palettes.$mat-primary-palette, 'darker');
  }
}

:host ::ng-deep .mat-mdc-radio-button .mdc-radio {
  top: -8px !important;
}
