.mfa-section-title {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;

  .mfa-title {
    width: 95%;

    h5 {
      display: inline-block;

      .mat-badge-content {
        background-color: #c0b8d2;
        top: 0;
        right: -35px;
      }
    }
  }

  .mfa-chip {
    margin-right: 10px;
  }
}

.factor-cell-title {
  display: flex;
  align-items: center;

  .factor-type {
    margin-left: 5px;
  }
}

.no-factor-selected-box {
  text-align: center;

  .bell-icon {
    color: rgb(30, 102, 112);
    padding: 15px;
    background: rgba(30, 202, 211, 0.54);
    border-radius: 50px;
  }
}
