<html>
<body style="overflow: auto;">

<!-- Content -->
<table width="440px">

	<#include "header.html" />

	<!-- header / title -->
	<tr>
		<td align="justify" style="
			padding: 0px;
			gap: 16px;
			height: 96px;
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
			font-style: normal;
			font-weight: 800;
			font-size: 24px;
			line-height: 32px;
			color: #25213A;
			">
			${msg('mfa_challenge.email.header.title', user.firstName)}
		</td>
	</tr>

	<!-- header / description -->
	<tr>
		<td align="justify" style="
			height: 96px;
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			color: #A5A5A9;
			">
			${msg('mfa_challenge.email.header.description', client.clientName)}
		</td>
	</tr>

	<tr>
		<!-- form -->
		<td align="center" style="
			width: 440px;
			height: 72px;
			box-sizing: border-box;
			background: #FAFAFA;
			border: 1px solid #CCCCCC;
			border-radius: 8px;
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
			font-style: normal;
			font-weight: 700;
			font-size: 24px;
			line-height: 16px;
			" >

			<!-- button -->
			<p style="
			color: #25213A; !important;  /*var(--theme-foreground-color);*/
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
			font-style: normal;
			font-weight: 700;
			font-size: 16px;
			line-height: 16px;
			/*remove underline*/
			text-decoration: none;">
				${code}
			</p>
		</td>
	</tr>

	<tr>
		<td align="justify" style="
			height: 96px;
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			color: #A5A5A9;
			">
			<#if expireAfterSeconds gte 3600> ${msg('mfa_challenge.email.description', expireAfterSeconds / 3600 , msg('common.email.unit.hours'))}  <#else> ${msg('mfa_challenge.email.description', expireAfterSeconds / 60 , msg('common.email.unit.minutes'))} </#if>
		</td>
	</tr>
</table>
</body>
</html>
