.factor-creation-step2-container {
  h4 {
    margin: 0;
  }
  p.factor-creation-description {
    text-align: center;
    background: #e3e3e3;
    padding: 20px;
    font-size: 14px;
    margin: 0;
  }
  .factor-contextual-help {
    text-align: left;
    margin-top: 20px;
    border-radius: 2px;
    border: 1px solid rgb(226, 229, 231);
    padding: 20px;
  }
  .factor-creation-step2-content {
    padding: 21px 0px 0px 0px;
  }

  .next-button {
    margin-top: 20px;
  }
}
