ngx-datatable {
  .role-header {
    align-items: center;
    margin: 5px;

    .role-icon {
      margin: 0 12px 0 0;
    }

    .role-information {
      h3 {
        margin: 0;
        font-size: 14px;
        font-weight: normal;
      }

      small {
        color: rgb(0 0 0 / 54%);
      }
    }
  }
}

:host ::ng-deep {
  .role-name-cell {
    padding: 0 !important;

    a {
      text-decoration: none;
    }
  }
}
