.gv-page-content {
  ngx-datatable {
    box-shadow: none;
    font-size: 14px;

    .row-disabled {
      background: #f1f1f1;
    }

    .alert-trigger-header {
      align-items: center;

      .alert-trigger-icon {
        margin: 0 12px 0 0;
      }

      .alert-trigger-information {
        h3 {
          margin: 0;
          font-size: 14px;
          font-weight: normal;
        }

        small {
          color: rgb(0 0 0 / 54%);
        }
      }
    }
  }
}

:host {
  ::ng-deep.row-disabled {
    border: 1px solid #fafafa;
    background: #f1f1f1;

    datatable-body-cell {
      color: grey !important;
      font-size: 85% !important;
      font-style: italic !important;
    }
  }
}

::ng-deep .cdk-overlay-pane {
  width: auto !important;
}
