<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Access Error</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{assets/material/material.blue_grey-blue.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/access_error.css}">

    <!-- Custom CSS -->
    <style th:if="${theme.css}" th:text="${theme.css}"></style>
    <style th:if="${theme.customCss}" th:text="${theme.customCss}"></style>

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" th:href="${theme.faviconUrl} ?: @{assets/ico/favicon.ico}">
</head>

<body>
    <div class="mdl-layout mdl-js-layout">
        <div class="access-error-container">
            <div class="access-error-content">
                <h1 th:text="#{error.header}"/>
                <p th:text="#{error.description}"/>
            </div>
            <div th:if="${error}" class="access-error-info">
                <span th:text="${error}" class="error"></span>
                <span th:if="${error_description}" class="error_description" th:text="${error_description}"></span>
            </div>
        </div>
    </div>
</body>
</html>
