<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebAuthn Register</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{../assets/css/main.css}">

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" th:href="${theme.faviconUrl} ?: @{../assets/ico/favicon.ico}">

    <!-- Custom CSS -->
    <style th:if="${theme.css}" th:text="${theme.css}"></style>
    <style th:if="${theme.customCss}" th:text="${theme.customCss}"></style>
</head>
<body>
<div class="container">
    <div class="header">
        <img class="logo" th:src="${theme.logoUrl} ?: @{../assets/images/gravitee-logo.svg}">
        <div class="title">
            <span th:text="#{webauthn.register.title}"/>
        </div>
        <div class="header-description start">
            <span th:text="#{webauthn.register.description}"/>
        </div>
    </div>
    <div class="section">
        <form class="form" role="form" id="register" method="post" th:action="${action}">
            <input type="hidden" id="username" name="username" th:value="${user.username}"/>
            <div id="webauthn-error" style="display: none;" class="item error-text">
                <span>
                    <span class="error">webauthn-register_failed</span>
                     <small class="error_description" th:text="#{webauthn.error}"></small>
                </span>
            </div>
            <div>
                <button class="button primary" th:text="#{webauthn.register.button.submit}"></button>
            </div>
        </form>
    </div>

    <div th:if="${enrollingFido2Factor == null}" class="section">
        <a th:href="${skipAction}"><span th:text="#{webauthn.register.skip}"/><span class="icons">arrow_forward</span></a>
    </div>
</div>
<script th:src="@{../assets/js/webauthn.auth-v2.js}"></script>
<script th:src="@{../assets/js/webauthn-register-v3.js}"></script>
</body>
</html>
