form {
  padding: 20px;
  background: #fafafa;
  border-radius: 2px;
  border: 1px solid rgb(226, 229, 231);
  .client-settings-form-actions {
    margin-top: 20px;
  }
}

.client-settings-delete-zone {
  color: #f44336;
  font-size: 75%;
  margin-top: 20px;
  padding: 20px;
  border-radius: 2px;
  border: 1px solid #e2e5e7;
  .client-settings-delete-button {
    margin-top: 20px;
  }
}

.client-settings-description {
  margin-left: 20px;
  h3 {
    font-weight: 400;
  }
  .client-settings-description-content {
    border-top: 1px solid rgb(226, 229, 231);
    p {
      margin-top: 20px;
      font-size: 14px;
    }
    small {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.38);
    }
  }
}

mat-icon.delete-chip {
  cursor: pointer;
  vertical-align: middle;
  font-size: 20px;
}

.hint {
  color: rgba(0, 0, 0, 0.38);
}
