.memberships-content {
  .select-user-membership {
    padding: 15px;
    border: 1px solid rgb(0 0 0 / 12%);
    border-radius: 4px;
  }

  ngx-datatable {
    background: transparent;
    box-shadow: none;
    font-size: 14px;

    p {
      margin: 0;

      &.primary-owner-membership {
        font-size: 85%;
        font-weight: bold;
      }
    }

    .membership-header {
      align-items: center;
      margin: 5px;

      .membership-icon {
        margin: 0 12px 0 0;
      }

      .user-avatar {
        width: 40px;
        height: 40px;
        margin: 0 12px 0 0;

        img {
          border-radius: 50%;
        }
      }

      .membership-information {
        h3 {
          margin: 0;
          font-size: 14px;
          font-weight: normal;
        }

        small {
          color: rgb(0 0 0 / 54%);
        }
      }
    }

    .members-actions {
      margin-left: -10px;

      button,
      a {
        top: -9px;
        color: grey;
      }
    }
  }
}

:host {
  ::ng-deep.membership-name-cell {
    padding: 0 !important;
  }
}

::ng-deep .cdk-overlay-pane {
  width: auto !important;
}
