# Gateway dp2 (MongoDB). Release: am-gateway-dp2. Port-forward: 8092.
labels:
  environment: migration-test
  part-of: am-migration-tool

mongodb-replicaset:
  enabled: false

gatewayEnv: &gatewayEnv
  - name: gravitee_repositories_system_cluster
    value: gateway
  - name: gravitee_repositories_management_type
    value: mongodb
  - name: gravitee_repositories_management_mongodb_uri
    value: "mongodb://gravitee:gravitee-password@mongo-mongodb:27017/gravitee?serverSelectionTimeoutMS=30000"
  - name: gravitee_repositories_management_mongodb_dbname
    value: "gravitee"
  - name: gravitee_repositories_gateway_type
    value: mongodb
  - name: gravitee_repositories_gateway_use_management_settings
    value: "false"
  - name: gravitee_repositories_gateway_dataPlane_id
    value: dp2
  - name: gravitee_repositories_gateway_dataPlane_url
    value: "http://localhost:8092"
  - name: gravitee_repositories_gateway_mongodb_uri
    value: "mongodb://gravitee:gravitee-password@mongo-mongodb:27017/gravitee-dp2?serverSelectionTimeoutMS=30000"
  - name: gravitee_repositories_gateway_mongodb_dbname
    value: "gravitee-dp2"
  - name: gravitee_repositories_oauth2_type
    value: mongodb
  - name: gravitee_repositories_oauth2_use_management_settings
    value: "false"
  - name: gravitee_repositories_oauth2_use_gateway_settings
    value: "true"
  - name: gravitee_repositories_oauth2_mongodb_uri
    value: "mongodb://gravitee:gravitee-password@mongo-mongodb:27017/gravitee-dp2?serverSelectionTimeoutMS=30000"
  - name: gravitee_repositories_oauth2_mongodb_dbname
    value: "gravitee-dp2"

api:
  enabled: false

gateway:
  enabled: true
  replicaCount: 1
  services:
    sync:
      permissions: true
  image:
    repository: graviteeio/am-gateway
    tag: 4.10.0
    pullPolicy: IfNotPresent
  ingress:
    enabled: false
  env: *gatewayEnv

ui:
  enabled: false

license:
  accept: true
