:host {
  --light-blue-color: #2aa7e3;
  --deep-orange-color: #d94c3e;
  --blue-color: #3f71f4;
  --orange-color: #ea9345;
  --deep-purple-color: #6a4ff7;
  --yellow-color: #eed052;
  --purple-color: #9346e9;
  --light-green-color: #9fc929;
  --light-purple-color: #cc63d6;
  --green-color: #7fcf79;
  --deep-pink-color: #d8549a;
  --teal-color: #66c2ac;
  --pink-color: #fe8aa8;
  --grey-color: #8a979e;
  --deep-red-color: #c52852;
  --deep-grey-color: #252829;

  .theme-content-container {
    padding: 0 20px;
  }

  .gv-form-section {
    margin-bottom: 0;

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .theme-sidenav-settings {
    padding-right: 20px;
    border-right: 1px solid rgb(0 0 0 / 12%);

    h5 {
      margin-top: 0;
      color: #7a7b7a;
    }

    .color-palette {
      mat-radio-button {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-bottom: 5px;
      }
    }

    .theme-reset-action {
      margin-top: 10px;

      button {
        width: 100%;
      }
    }
  }

  .theme-content-action {
    margin-bottom: 15px;

    mat-button-toggle-group {
      max-height: 42px;
      align-items: center;
    }
  }

  ::ng-deep {
    .custom-css .CodeMirror {
      border: 1px solid rgb(0 0 0 / 12%);
      border-radius: 4px;
    }

    .preview .CodeMirror {
      height: calc(100vh - 365px);
    }

    .mat-expansion-panel {
      box-shadow: none;

      .mat-expansion-panel-header,
      .mat-expansion-panel-header.mat-expanded {
        border-radius: 8px;
        margin-bottom: 15px;
        background-color: #f1f1f1;
      }

      .mat-expansion-panel-body {
        padding: 0;
      }
    }

    .mat-mdc-radio-button.mat-accent,
    .mat-radio-button.mat-accent.mat-radio-checked {
      &.light-blue {
        --mdc-radio-unselected-icon-color: var(--light-blue-color);
        --mdc-radio-selected-icon-color: var(--light-blue-color);
      }

      &.deep-orange {
        --mdc-radio-unselected-icon-color: var(--deep-orange-color);
        --mdc-radio-selected-icon-color: var(--deep-orange-color);
      }

      &.blue {
        --mdc-radio-unselected-icon-color: var(--blue-color);
        --mdc-radio-selected-icon-color: var(--blue-color);
      }

      &.orange {
        --mdc-radio-unselected-icon-color: var(--orange-color);
        --mdc-radio-selected-icon-color: var(--orange-color);
      }

      &.deep-purple {
        --mdc-radio-unselected-icon-color: var(--deep-purple-color);
        --mdc-radio-selected-icon-color: var(--deep-purple-color);
      }

      &.yellow {
        --mdc-radio-unselected-icon-color: var(--yellow-color);
        --mdc-radio-selected-icon-color: var(--yellow-color);
      }

      &.purple {
        --mdc-radio-unselected-icon-color: var(--purple-color);
        --mdc-radio-selected-icon-color: var(--purple-color);
      }

      &.light-green {
        --mdc-radio-unselected-icon-color: var(--light-green-color);
        --mdc-radio-selected-icon-color: var(--light-green-color);
      }

      &.light-purple {
        --mdc-radio-unselected-icon-color: var(--light-purple-color);
        --mdc-radio-selected-icon-color: var(--light-purple-color);
      }

      &.green {
        --mdc-radio-unselected-icon-color: var(--green-color);
        --mdc-radio-selected-icon-color: var(--green-color);
      }

      &.deep-pink {
        --mdc-radio-unselected-icon-color: var(--deep-pink-color);
        --mdc-radio-selected-icon-color: var(--deep-pink-color);
      }

      &.teal {
        --mdc-radio-unselected-icon-color: var(--teal-color);
        --mdc-radio-selected-icon-color: var(--teal-color);
      }

      &.pink {
        --mdc-radio-unselected-icon-color: var(--pink-color);
        --mdc-radio-selected-icon-color: var(--pink-color);
      }

      &.grey {
        --mdc-radio-unselected-icon-color: var(--grey-color);
        --mdc-radio-selected-icon-color: var(--grey-color);
      }

      &.deep-red {
        --mdc-radio-unselected-icon-color: var(--deep-red-color);
        --mdc-radio-selected-icon-color: var(--deep-red-color);
      }

      &.deep-grey {
        --mdc-radio-unselected-icon-color: var(--deep-grey-color);
        --mdc-radio-selected-icon-color: var(--deep-grey-color);
      }
    }
  }
}
