.mfa-section-title {
  display: flex;
  flex-direction: row;
  width: 100%;

  .mfa-title {
    width: 95%;
  }

  .mfa-chip {
    margin-right: 10px;
    mat-chip-list {
      mat-chip {
        font-size: 11px;
        opacity: 1;
        background-color: transparent;
        border: thin solid rgba(0, 0, 0, 0.2);
      }
    }
  }
}

blockquote {
  padding: 15px;
  margin: 10px 0;
  border-left: 0.25em solid rgba(0, 0, 0, 0.11);

  p {
    color: inherit;
    font-size: 13px;
    margin: 0;
  }

  mat-icon {
    vertical-align: middle;
    padding-right: 10px;
  }

  &.warning {
    color: rgba(0, 0, 0, 0.535);
    background: #fff9c4;
    border-left-color: #fdd835;
    border-radius: 8px;
  }
}

.trusted-title {
  font-weight: 700;
  letter-spacing: 0.4px;
  font-size: 14px;
  font-family: 'Golos UI', sans-serif;
}

.config-section {
  padding: 10px 0 0 44px;
  gap: 5px;
}
