.mfa-section-title {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;

  .mfa-title {
    width: 95%;
  }

  .mfa-chip {
    margin-right: 10px;
  }
}

blockquote {
  padding: 15px;
  border-left: 0.25em solid rgb(0 0 0 / 11%);
  margin: 10px 0;

  p {
    margin: 0;
    color: inherit;
    font-size: 13px;
  }

  mat-icon {
    padding-right: 10px;
    vertical-align: middle;
  }

  &.warning {
    border-radius: 8px;
    border-left-color: #fdd835;
    background: #fff9c4;
    color: rgb(0 0 0 / 53.5%);
  }
}

.trusted-title {
  font-weight: 700;
  letter-spacing: 0.4px;
  font-size: 14px;
  font-family: 'Golos UI', sans-serif;
}

.config-section {
  padding: 10px 0 0 44px;
  gap: 5px;
}
