<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Access Error</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/style.css}">
</head>

<body>
    <div class="login-page">
        <div class="form">
            <h1>Access error</h1>

            <p>Please go back to your client application and try again, or
                contact the owner and ask for support</p>
        </div>
    </div>
</body>
</html>