<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <!-- CSS -->
    <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">-->
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/form-elements.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" th:href="@{/assets/ico/favicon.ico}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/assets/ico/apple-touch-icon-144-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/assets/ico/apple-touch-icon-114-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/assets/ico/apple-touch-icon-72-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/assets/ico/apple-touch-icon-57-precomposed.png}">
</head>

<body>

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Login to <span th:text="${domain.description}"></span></h3>
                            <p>Enter your username and password to log on:</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" th:action="@{login}" method="post" class="login-form">
                            <div class="form-group">
                                <label class="sr-only" for="username">Username</label>
                                <input type="text" name="username" required autofocus="autofocus" placeholder="Username..." class="form-username form-control" id="username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="password">Password</label>
                                <input type="password" name="password" required placeholder="Password..." class="form-password form-control" id="password">
                            </div>

                            <p th:if="${param.error}" class="error">Wrong user or password</p>

                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <input type="hidden" th:name="client_id" th:value="${param.client_id}"/>
                            <button type="submit" class="btn btn-success">Sign in!</button>
                        </form>
                    </div>
                </div>
            </div>
            <!--
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 social-login">
                    <h3>...or login with:</h3>
                    <div class="social-login-buttons">
                        <a class="btn btn-link-1 btn-link-1-facebook" href="#">
                            <i class="fa fa-facebook"></i> Facebook
                        </a>
                        <a class="btn btn-link-1 btn-link-1-twitter" href="#">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
                            <i class="fa fa-google-plus"></i> Google Plus
                        </a>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>

</div>

<!-- Javascript -->
<script th:src="@{/assets/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>

<!--[if lt IE 10]>
<script th:src="@{/assets/js/placeholder.js}"></script>
<![endif]-->

</body>

</html>