.link {
  padding-left: 10px;
  color: #19424f;
  font-family: 'Golos UI', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.rule-title {
  padding-top: 5px;
  margin-bottom: 0;
  font-family: 'Golos UI', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.4px;
}
