.gv-page-container {
  ngx-datatable {
    .idp-header {
      align-items: center;
      margin: 5px;

      .idp-icon {
        margin: 0 12px 0 0;
      }

      .idp-information {
        h3 {
          margin: 0;
          font-size: 14px;
          font-weight: normal;
        }

        small {
          color: rgb(0 0 0 / 54%);
        }
      }

      .idp-system {
        margin-left: 10px;
      }
    }
  }
}

:host {
  ::ng-deep.idp-name-cell {
    padding: 0 !important;
  }
}
