ngx-datatable {
  margin-top: 10px;
  .user-header {
    margin: 5px;
    align-items: center;
    .user-avatar {
      width: 40px;
      height: 40px;
      margin: 0 12px 0 0;

      img {
        border-radius: 50%;
      }
    }
    .user-information {
      small {
        color: rgba(0, 0, 0, .54);
      }
    }
  }
}

.users-search {
  font-size: 14px;
  margin: 0 auto;
  width: 80%;
}

.advanced-search-card {
  border-radius: 0px;
  margin-top: 50px;
  position: absolute;
  width: 70%;
  z-index: 10;
}

:host ::ng-deep.user-name-cell {
  padding: 0 !important;
  a {
    text-decoration: none;
  }
}

:host ::ng-deep.mat-badge-small .mat-badge-content {
  width: 12px;
  height: 12px;
  line-height: 12px;
}

:host ::ng-deep.mat-badge-small.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: 1px;
}

:host ::ng-deep.mat-badge-small.mat-badge-above .mat-badge-content {
  top: -2px;
}

:host ::ng-deep.user-enabled .mat-badge-content {
  color: white;
  background: limegreen;
}

:host ::ng-deep.user-disabled .mat-badge-content {
  color: white;
  background: #ff9100;
}

:host ::ng-deep.user-locked .mat-badge-content {
  color: white;
  background: red;
}
