ngx-datatable {
  margin-top: 10px;

  .user-header {
    align-items: center;
    margin: 5px;

    .user-avatar {
      width: 40px;
      height: 40px;
      margin: 0 12px 0 0;

      img {
        border-radius: 50%;
      }
    }

    .user-information {
      small {
        color: rgb(0 0 0 / 54%);
      }
    }
  }
}

.users-search {
  position: relative;
  display: flex;
  min-width: 300px;
  margin: 0 10%;
  font-size: 14px;
}

.advanced-search-card {
  position: absolute;
  z-index: 10;
  top: 58px;
  width: 100%;
  border-radius: 0;
}

:host ::ng-deep.user-name-cell {
  padding: 0 !important;

  a {
    text-decoration: none;
  }
}

:host ::ng-deep.user-enabled .mat-badge-content {
  background: limegreen;
  color: white;
}

:host ::ng-deep.user-disabled .mat-badge-content {
  background: #ff9100;
  color: white;
}

:host ::ng-deep.user-locked .mat-badge-content {
  background: red;
  color: white;
}

:host ::ng-deep.mat-badge-small .mat-badge-content {
  width: 12px;
  height: 12px;
  line-height: 12px;
}

:host ::ng-deep.mat-badge-small.mat-badge-above .mat-badge-content {
  top: -2px;
}

:host ::ng-deep.mat-badge-small.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: 1px;
}
