.application-idp-content-providers {
  padding: 20px;
  background: #fafafa;
  border-radius: 2px;
  border: 1px solid rgb(226, 229, 231);
}

.idp-priority {
  margin-top: -15px;

  button, .empty-row {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
}


:host ::ng-deep {
  .ngx-datatable .datatable-body .datatable-body-row > div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .ngx-datatable.material .datatable-footer {
    display: none;
  }
}

.example-list {
  width: 100%;
  max-width: 100%;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 5px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;

  .column {
    width:200px;
    max-width:200px;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
