.application-idp-content-providers {
    padding: 20px;
    background: #fafafa;
    border-radius: 2px;
    border: 1px solid rgb(226, 229, 231);
}

:host ::ng-deep.ngx-datatable.material .datatable-footer {
  display: none;
}
