.new-user-container {
  padding: 20px 70px 20px 50px;
  h1 {
    font-weight: 400;
  }
  .new-user-content {
    padding: 50px 0 20px;
    form {
      padding: 20px;
      background: #fafafa;
      border-radius: 2px;
      border: 1px solid rgb(226, 229, 231);
      .role-form-actions {
        margin-top: 20px;
      }
    }
    .additional-information {
      margin-top: 20px;
      padding: 10px;
      background-color: #f1f1f1;
      h4 {
        margin: 0;
        font-weight: 400;
      }
      span {
        font-size: 75%;
        color: rgba(0, 0, 0, 0.54);
      }
      a {
        cursor: pointer;
        font-size: 75%;
        color: #2196f3;
      }
    }
    .new-user-description {
      margin-left: 20px;
      h3 {
        font-weight: 400;
      }
      .new-user-description-content {
        border-top: 1px solid rgb(226, 229, 231);
        p {
          margin-top: 20px;
          font-size: 14px;
        }
        small {
          font-size: 12px;
          color: rgba(0, 0, 0, 0.38);
        }
      }
    }
  }
}
