mat-toolbar {
  display: flex;
  align-items: center;
  padding: 10px;
  background: white;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

.mat-dialog-content {
  max-width: 1024px;
  margin: 0 auto;
}

mat-drawer-container {
  background: white;
  mat-drawer {
    border-right: solid 1px rgba(0, 0, 0, 0.12);
    min-width: 160px;
    padding: 0 20px 0 20px;
    span {
      color: #2196f3;
      font-weight: bold;
      font-size: 14px;
    }
  }
  mat-drawer-content {
    padding: 0 20px 0 20px;
    h4 {
      margin: 0;
    }
    p {
      font-size: smaller;
      margin-top: 5px;
    }
  }
}
