mat-toolbar {
  display: flex;
  align-items: center;
  padding: 10px;
  background: white;
  box-shadow:
    0 2px 2px rgb(0 0 0 / 24%),
    0 0 2px rgb(0 0 0 / 12%);
}

.mat-mdc-dialog-content {
  max-width: 1024px;
  margin: 0 auto;
}

mat-drawer-container {
  background: white;

  mat-drawer {
    min-width: 160px;
    padding: 0 20px;
    border-right: solid 1px rgb(0 0 0 / 12%);

    span {
      font-size: 14px;
      font-weight: bold;
    }
  }

  mat-drawer-content {
    padding: 0 20px;

    h4 {
      margin: 0;
    }

    p {
      margin-top: 5px;
      font-size: smaller;
    }
  }
}
