.gv-page-container {
  .gv-page-content {
    padding: 20px 0 20px;
  }
}

.notifier-contextual-help {
  border-radius: 2px;
  border: 1px solid rgb(226, 229, 231);
  padding: 20px;
  margin-bottom: 10px;
}
