<html>
	<body style="text-align: center;">
		<header>
			<#include "header.html" />
		</header>
		<div style="margin-top: 50px; color: #424e5a;">
			<h3>Hi ${user.firstName} ${user.lastName},</h3>
			<p>You have requested to reset your password.</p>
			<p><a href="${url}">Click here</a> to change it.</p>
			<small>
                This link will expire in <#if expireAfterSeconds gte 3600>${expireAfterSeconds / 3600} hour(s)<#else>${expireAfterSeconds / 60} minutes(s)</#if>.
                After that, you must submit a new request to ask for a new password.
            </small>
		</div>
	</body>
</html>
