:host {
  ::ng-deep {
    ul.checkbox-list {
      margin-block-start: 0;
    }

    flex-layout-root-widget {
      display: initial !important;
      max-height: 100% !important;
      box-sizing: border-box !important;
      flex-flow: column nowrap !important;
    }
  }
}
