i,
.app-type-icon {
  width: 130px;
  height: 130px;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  margin-top: 20px;
  font-size: 55px;
  line-height: 130px;
}

.app-type-icon {
  padding: 35px;
  line-height: normal;
}
