.new-domain-container {
  padding: 50px 70px 20px 50px;
  a.back-link {
    color: #006CAB;
    text-decoration: none;
    &:hover {
      color: #2196f3;
    }
    mat-icon {
      vertical-align: middle;
      margin-top: -2px;
    }
  }
  h1 {
    font-weight: 400;
  }
  .new-domain-content {
    .new-domain-description {
      margin-left: 20px;
      h3 {
        font-weight: 400;
      }
      .new-domain-description-content {
        border-top: 1px solid rgb(226, 229, 231);
        p {
          margin-top: 20px;
          font-size: 14px;
        }
        small {
          font-size: 12px;
          color: rgba(0, 0, 0, 0.38);
        }
      }
    }
  }
}
