/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~codemirror/lib/codemirror.css';
@import 'assets/theme/gravitee.css';
@include mat-core();

/* Configure theme */
$graviteeio-am-app-primary: mat-palette($mat-blue-grey);
$graviteeio-am-candy-app-accent:  mat-palette($mat-blue);
$graviteeio-am-theme: mat-light-theme($graviteeio-am-app-primary, $graviteeio-am-candy-app-accent);
@include angular-material-theme($graviteeio-am-theme);

/* Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(assets/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(assets/iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(assets/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, body, app-root, mat-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

mat-sidenav-container {
  background-color: #ffffff !important;
}

.mat-sidenav {
  overflow-y: initial !important;
}

.main-content {
  overflow: auto;
  margin-top: 60px;
  height: calc(100vh - 60px);
  background-color: #ffffff !important;
}

.mat-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content {
  position: inherit !important;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.mat-form-field {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  background: #fff;
}

.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  background: #F1F1F1;
}

ngx-datatable {
  .gv-table-cell-actions {
    margin-left: -10px;
    button, a {
      top: -9px;
      color: grey;
    }
  }
}

.ngx-datatable.material {
  font-size: 14px;
  box-shadow: none;
  background: transparent;
}

.ngx-datatable.material .datatable-footer .datatable-pager {
  ul li:not(:last-child):after {
    content: none;
  }
}

mat-horizontal-stepper {
  border: 1px solid #e2e5e7;
  margin: 5px;
  h5 {
    margin: 0;
  }
  small {
    color: #999;
  }
  button {
    min-width: 100px;
  }
  .stepper-button-zone {
    margin-top: 20px;
    border-top: 1px solid #e2e5e7;
    padding: 10px;
    button {
      min-width: 100px;
    }
  }
  .mat-horizontal-stepper-header-container {
    max-width: 50%;
    margin: 0 auto;
  }
  .mat-horizontal-content-container {
    padding: 24px;
    border-top: 1px solid #e2e5e7;
  }
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-edit, .mat-step-header .mat-step-icon-state-done {
  background-color: #2295F3;
}

.gv-splash-screen {
  background: rgb(45, 50, 62) url('assets/gravitee_logo_anim.gif') no-repeat center center;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99999;
}

.gv-page-container {
  padding: 20px;
  h1 {
    font-weight: 400;
  }
}

.gv-page-description {
  margin-left: 20px;
  h3 {
    font-weight: 400;
  }
  .gv-page-description-content {
    border-top: 1px solid rgb(226, 229, 231);
    p {
      margin-top: 20px;
      font-size: 14px;
    }
    small {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.38);
    }
  }
}

.gv-page-delete-zone {
  color: #f44336;
  font-size: 75%;
  margin-top: 20px;
  padding: 20px;
  border-radius: 2px;
  border: 1px solid #e2e5e7;
  .gv-page-delete-button {
    margin-top: 20px;
  }
}

.gv-form-section {
  padding: 20px;
  background: #fafafa;
  border-radius: 2px;
  border: 1px solid rgb(226, 229, 231);
  margin-bottom: 20px;
  .gv-form-section-title {
    margin-bottom: 10px;
    h5, h4 {
      margin: 0px 0px 5px 0px;
    }
    small {
      display: block;
      margin-bottom: 5px;
      font-size: 75%;
    }
  }
}

.gv-add-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.gv-add-button-center {
  text-align: center;
}

a.gv-back-link {
  color: #006CAB;
  text-decoration: none;
  &:hover {
    color: #2196f3;
    text-decoration: underline;
  }
  mat-icon {
    vertical-align: middle;
    margin-top: -2px;
  }
}

p.gv-plugin-creation-description {
  text-align: center;
  background: #e3e3e3;
  padding: 20px;
  font-size: 14px;
  margin: 0px 0px 20px 0px;
}

.no-padding-dialog-container .mat-dialog-container {
  padding: 0;
}
