/* You can add global styles to this file, and also import other style files */
@use 'sass:meta';
@use 'sass:map';
@use '@angular/material' as mat;
@use '@gravitee/ui-particles-angular' as gio;
@import '@gravitee/ui-components/assets/css/gravitee-console-theme.css';
@include meta.load-css('@swimlane/ngx-datatable/themes/material');
@include meta.load-css('@swimlane/ngx-datatable/assets/icons');
@include meta.load-css('codemirror/lib/codemirror');
@include meta.load-css('codemirror/theme/material');

/* Configure theme */
@include gio.import-fonts;
@include gio.mat-theme;
@include gio.all-components;

@mixin graviteeio-am-theme($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);

  .gv-sidenav {
    background-color: mat.m2-get-color-from-palette($primary, 'default');
  }

  .mat-step-header .mat-step-icon-selected,
  .mat-step-header .mat-step-icon-state-edit,
  .mat-step-header .mat-step-icon-state-done {
    background-color: mat.m2-get-color-from-palette($primary, 'default');
  }

  material-add-reference-widget {
    .mat-mdc-raised-button.mat-accent {
      background-color: mat.m2-get-color-from-palette($primary, 'default');
    }
  }

  a {
    color: mat.m2-get-color-from-palette($primary, 'default');

    &.active,
    &:hover {
      color: mat.m2-get-color-from-palette($accent, 'default');
    }

    &.gv-accent-link {
      color: mat.m2-get-color-from-palette($accent, 'default');

      &:hover {
        color: mat.m2-get-color-from-palette($accent, 'default');
      }
    }
  }

  // Reset default color
  a.mdc-fab {
    color: var(--mat-mdc-fab-color);
  }

  .gv-accent-color {
    color: mat.m2-get-color-from-palette($accent, 'default');
  }

  .not-found-content-description {
    border-top: 8px solid mat.m2-get-color-from-palette($primary, 'default');
  }

  .gv-splash-screen {
    background: #fdfdfd;
  }
}
@include graviteeio-am-theme(gio.$mat-theme);

/* Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src:
    local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('assets/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
    url('assets/iconfont/MaterialIcons-Regular.woff') format('woff'),
    url('assets/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  display: inline-block;
  direction: ltr;
  font-family: 'Material Icons', serif;

  /* Support for IE. */
  font-feature-settings: 'liga';
  font-size: 24px; /* Preferred icon size */

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;

  /* Support for Safari and Chrome. */
  text-rendering: optimizelegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}

html,
body,
app-root,
mat-sidenav-container {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Golos UI', Roboto, 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

div.CodeMirror span {
  font-family: monospace;
}

mat-sidenav-container {
  background-color: #fff !important;
}

.mat-sidenav {
  overflow-y: initial !important;
}

.main-content {
  overflow: auto;
  width: 100%;
  background-color: #fff !important;
}

.mat-mdc-list .mat-mdc-list-item .mat-list-item-content,
.mat-nav-list .mat-list-item .mat-list-item-content {
  position: inherit !important;
}

.browsehappy {
  padding: 0.2em 0;
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
}

.mat-mdc-form-field,
mat-form-field {
  width: 100%;
}

.ngx-datatable.material {
  background: transparent;
  box-shadow: none;
  font-size: 14px;
}

.ngx-datatable.material .datatable-footer .datatable-pager {
  ul li:not(:last-child)::after {
    content: none;
  }
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  background: transparent;
}

mat-horizontal-stepper {
  border: 1px solid #e2e5e7;
  margin: 5px;

  h5 {
    margin: 0;
  }

  small {
    color: #999;
  }

  button {
    min-width: 100px;
  }

  .stepper-button-zone {
    padding: 10px;
    border-top: 1px solid #e2e5e7;
    margin-top: 20px;

    button {
      min-width: 100px;
    }
  }

  .mat-horizontal-stepper-header-container {
    max-width: 50%;
    margin: 0 auto;
  }

  .mat-horizontal-content-container {
    padding: 24px;
    border-top: 1px solid #e2e5e7;
  }
}

ngx-datatable {
  .gv-table-cell-actions {
    margin-left: -10px;

    button,
    a {
      top: -9px;
      color: grey;
    }
  }
}

@keyframes pulse-loader {
  0%,
  100% {
    background-size: 5%;
  }

  50% {
    background-size: 5.5%;
  }
}

.gv-splash-screen {
  position: absolute;
  z-index: 99999;

  /* Add the animation */
  animation: pulse-loader 2s ease-in-out infinite;
  background-image: url('assets/gravitee-icon.svg');
  background-position: center center;
  background-repeat: no-repeat;
  inset: 0;
}

.gv-page-container {
  padding: 20px;

  h1 {
    font-weight: 400;
  }
}

.gv-page-description {
  margin-left: 20px;

  h3 {
    font-weight: 400;
  }

  .gv-page-description-content {
    border-top: 1px solid rgb(226 229 231);

    p {
      margin-top: 20px;
      font-size: 14px;
    }

    ul {
      margin-top: 20px;
      font-size: 14px;
    }

    small {
      color: rgb(0 0 0 / 38%);
      font-size: 12px;
    }
  }
}

.gv-page-delete-zone {
  padding: 20px;
  border: 1px solid #e2e5e7;
  border-radius: 2px;
  margin-top: 20px;
  color: #f44336;
  font-size: 75%;

  .gv-page-delete-button {
    margin-top: 20px;
  }
}

.gv-form-section {
  padding: 20px;
  border: 1px solid map.get(gio.$mat-dove-palette, darker20);
  border-radius: 8px;
  margin-bottom: 20px;
  background: #fff;

  .gv-form-section-title {
    margin-bottom: 10px;

    h5,
    h4 {
      margin: 0 0 5px;
    }

    small {
      display: block;
      margin-bottom: 5px;
      font-size: 75%;
    }

    span {
      color: map.get(gio.$mat-space-palette, contrast[ 'default']);
    }
  }
}

.gv-add-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.gv-add-button-center {
  text-align: center;
}

a.gv-back-link {
  cursor: pointer;
  text-decoration: none;

  mat-icon {
    margin-top: -2px;
    vertical-align: middle;
  }
}

p.gv-plugin-creation-description {
  padding: 20px;
  margin: 0 0 20px;
  background: #e3e3e3;
  font-size: 14px;
  text-align: center;
}

.no-padding-dialog-container .mat-mdc-dialog-container {
  padding: 0;
}

div.code {
  overflow: auto;
  padding: 0 20px;
  border-color: transparent;
  margin-bottom: 24px;
  background: #f5f5f5;
  font-size: 1em;
  white-space: pre;

  button {
    width: auto;
    margin-left: 20px;
    float: right;
  }

  pre {
    overflow: auto;
    width: auto;
    white-space: pre-wrap;

    &.multiline {
      white-space: unset;
    }
  }
}

.span-third {
  width: 30%;
}
