.factor-creation-step1-container {
  p.factor-creation-description {
    text-align: center;
    background: #e3e3e3;
    padding: 20px;
    font-size: 14px;
    margin: 0;
  }
  .factor-creation-step1-content {
    margin-top: 10px;

    mat-card {
      margin: 10px;

      mat-card-content {
        text-align: center;
        margin-top: 10px;
      }
    }
  }
}
