.mdl-layout.mdl-js-layout {
    display: block;
    background-color: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #767777;
    font-size: 12px;
}

.access-error-container {
    max-width: 680px;
    margin: auto;
    padding: 8% 0 0;
}

.access-error-content {
    display: flex;
    flex-direction: column;
}

.access-error-content h1 {
    margin-bottom: 10px;
    font-size: 42px;
}

.access-error-info {
    color: orange;
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #e2e5e7;
}

.access-error-info .error {
   font-weight: bold;
}

.access-error-info .error_description:before {
    content: " : ";
}