.mdl-layout.mdl-js-layout {
    display: block;
    background-color: #2d323e;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 12px;
}

.reset-password-container {
    max-width: 740px;
    margin: auto;
    padding: 8% 0 0;
}

.reset-password-form {
    background: #FFFFFF;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.reset-password-form-title {
    text-align:center;
}

.reset-password-form-title > label {
    font-size: 28px;
    font-weight: 400;
    margin: 0 auto;
}

.reset-password-error-info {
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #e2e5e7;
}

.reset-password-error-info .error {
    color: orange;
    font-weight: bold;
}

.mdl-textfield__label.mdl-required:after {
    content: ' *';
    visibility: visible;
    position: initial;
    background-color: transparent;
}

.mdl-textfield.is-invalid .mdl-textfield__label:after {
    background-color: transparent;
}

.mdl-textfield__icon {
    width: 32px;
    text-align: center;
    color: #555;
    line-height: 1.5;
    cursor: pointer;
}

.mdl-textfield__icon ~ * {
    margin-left: 32px;
    width: calc(100% - 48px);
}

.error {
    font-weight: bold;
    color: #EF3B3A;
    text-align: center;
}

a, a:hover, a:focus {
    text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
