mat-card.domain-banner {
  position: absolute;
  z-index: 10;
  top: 35px;
  right: 0;
  left: 0;
  display: flex;
  max-width: 600px;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
  background: #ff9100;
  color: white;
  text-align: center;

  .domain-banner-text {
    padding-left: 12px;

    span {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.domain-content {
  height: calc(100vh - 70px);
}
