.domain-mcp-content {
  overflow: auto;
  width: 100%;
  height: calc(100vh - 70px);
}

.row-header {
  align-items: center;
  margin: 5px;

  .row-logo {
    width: 40px;
    height: 40px;
    margin: 0 12px 0 0;

    img {
      border-radius: 25%;
    }
  }
}

.tool-badge {
  padding: 4px 8px;
  border-radius: 16px;
  margin-right: 4px;
  background-color: #e7e8ef;
}

:host ::ng-deep.row-name-cell {
  padding: 0 !important;

  a {
    text-decoration: none;
  }
}

.mcp-servers-search {
  margin-bottom: 20px;
  text-align: center;

  mat-form-field {
    width: 70%;
  }

  mat-icon {
    padding-bottom: 4px;
    vertical-align: middle;
  }
}
