<div class="gv-form-section">
  <div class="gv-form-section-title">
    <h5>Client Secrets</h5>
    <small>Manage client secrets for this MCP Server.</small>
    <mat-divider></mat-divider>
  </div>
  <div>
    <app-client-secrets-management
      [adapter]="mcpServerClientSecretService"
      [domainId]="domainId"
      [parentId]="protectedResource.id"
      [clientId]="protectedResource.clientId"
      [hasCreatePermission]="editMode"
      [hasUpdatePermission]="editMode"
      [hasDeletePermission]="deleteMode"
      [showSettings]="true"
      (settingsClicked)="openSettings($event)"
    >
    </app-client-secrets-management>
  </div>
</div>
