.mfa-section-title {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;

  .mfa-title {
    width: 95%;
  }

  .mfa-chip {
    margin-right: 10px;
  }
}

blockquote {
  padding: 15px;
  border-left: 0.25em solid rgb(0 0 0 / 11%);
  margin: 10px 0;

  p {
    margin: 0;
    color: inherit;
    font-size: 13px;
  }

  mat-icon {
    padding-right: 10px;
    vertical-align: middle;
  }

  &.warning {
    border-radius: 8px;
    border-left-color: #fdd835;
    background: #fff9c4;
    color: rgb(0 0 0 / 53.5%);
  }

  &.info {
    border: 1px solid #3b59f6;
    border-radius: 8px;
    background: #e3e7fc;
    color: #325afe;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.6px;
    line-height: 16px;
  }
}

.section-body {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 44px;
}

.options {
  padding: 5px 0 0 44px;
  gap: 8px;
}

.options-title {
  padding: 0 0 0 44px;
  color: #606274;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #313133;
  border-radius: 4px;
  background: #f7f8fd;
  gap: 4px;
}

.config-section {
  padding: 10px 0 0 44px;
}
