:host {
  ::ng-deep.row-disabled {
    background: #f1f1f1;
    border: 1px solid #fafafa;
    datatable-body-cell {
      color: grey !important;
      font-size: 85% !important;
      font-style: italic !important;
    }
  }
  ::ng-deep.ngx-datatable.material .datatable-footer {
    display: none;
  }

  ::ng-deep.form-name-cell {
    padding: 0 !important;
  }
}

.forms-content {
  ngx-datatable {
    font-size: 14px;
    box-shadow: none;

    .row-disabled {
      background: #f1f1f1;
    }

    .form-header {
      margin: 5px;
      align-items: center;
      .form-icon {
        margin: 0 12px 0 0;
      }
      .form-information {
        h3 {
          font-size: 14px;
          font-weight: normal;
          margin: 0;
        }
        small {
          color: rgba(0,0,0,.54);
        }
      }
    }
  }
}

.forms-actions {
  margin-left: -10px;

  button, a {
    top: -9px;
    color: grey;
  }
}
