:host {
  /deep/ .row-disabled {
    background: #f1f1f1;
    border: 1px solid #fafafa;
    datatable-body-cell {
      color: grey !important;
      font-size: 85% !important;
      font-style: italic !important;
    }
  }
}

.forms-content {
  ngx-datatable {
    font-size: 14px;
    box-shadow: none;

    .row-disabled {
      background: #f1f1f1;
    }
  }
}

.forms-actions {
  margin-left: -10px;

  button, a {
    top: -9px;
    color: grey;
  }
}
