.user-audits-analytics {

  $text-color-grey: rgba(0, 0, 0, .54);

  *, *:before, *:after {
    box-sizing: border-box;
  }

  display: flex;
  flex-direction: row;

  .user-audits-analytics-item {
    flex: 1;
    padding: 10px;
    min-height: 100px;

    mat-card {
      height: 100%;
    }

    .count-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .count-title {
        font-size: 16px;
        font-weight: 500;
      }

      .count-subtitle {
        color: $text-color-grey;
        font-size: 12px;
        margin-top: 4px;
      }

      .count-value {
        color: $text-color-grey;
        font-size: 22px;
        text-align: end;
        margin-top: 16px;
      }
    }
  }

  .user-audits-title {
    margin-top: 10px;
  }
}
