.actions-row {
  display: flex;
  flex-direction: row-reverse;

  button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;

    letter-spacing: 1.25px;
    text-transform: uppercase;

    margin: 5px;
  }

  a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    margin: 5px;
  }
}

.certificate-header {
  margin: 10px;
  align-items: center;
  .certificate-icon {
    margin: 5px 12px 0 0;
  }
  .certificate-information {
    h3 {
      font-size: 14px;
      font-weight: normal;
      margin: 0;
    }
  }
}

:host {
  ::ng-deep.certificate-name-cell {
    padding: 0 !important;
  }
}

.certificate-simple-text {
  align-items: center;
  h3 {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
}

.certificate-expiry {
  margin: 5px;
  align-items: center;
  h3 {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
}


.renew {
  font-size: 18px;
  margin-left: 5px;
}
.warning {
  font-size: 18px;
  margin-left: 5px;
  color: orange;
}
.alert {
  font-size: 18px;
  margin-left: 5px;
  color: red;
}
