.actions-row {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

.certificate-simple-text {
  align-items: center;

  h3 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
  }
}

.badge {
  margin: 0 0.2em 0 0;
  text-transform: none;
}

.badge:last-child {
  margin: 0;
}

.certificate-expiry {
  h3 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
  }
}

.certificate-header {
  align-items: center;
  margin: 10px;

  .certificate-icon {
    margin: 5px 12px 0 0;
  }

  .certificate-information {
    h3 {
      margin: 0;
      font-size: 14px;
      font-weight: normal;
    }
  }

  .fallback-badge {
    padding: 4px 8px 5px;
    border-radius: 16px;
    margin-left: auto;
    background-color: #e7e2fb;
  }
}

:host {
  ::ng-deep.certificate-name-cell {
    padding: 0 !important;
  }
}

.renew {
  margin-left: 5px;
  font-size: 18px;
}

.warning {
  margin-left: 5px;
  color: orange;
  font-size: 18px;
}

.alert {
  margin-left: 5px;
  color: red;
  font-size: 18px;
}
