.oidc-container {
  .oidc-content {
    form {
      padding: 20px;
      background: #fafafa;
      border-radius: 2px;
      border: 1px solid rgb(226, 229, 231);
      .role-form-actions {
        margin-top: 20px;
      }
      .client-oauth-zone {
        padding: 10px;
        background-color: #f1f1f1;
        margin-top: 20px;
        h4 {
          margin: 5px 0;
        }
      }
    }
  }
  .oidc-description {
    margin-left: 20px;
    h3 {
      font-weight: 400;
    }
    .oidc-description-content {
      border-top: 1px solid rgb(226, 229, 231);
      p {
        margin-top: 20px;
        font-size: 14px;
      }
      small {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.38);
      }
    }
  }
}

span.code {
  color: #cccccc;
  font-size: small;
}

mat-list-item {
  color: grey;

  span.code {
    margin-right: 10px;
  }
}

.idtoken-description {
  margin-top: 20px;
  font-size: smaller;
}

.idtoken-validity {
  margin-top: 20px;
}

ngx-datatable.material {
  background: transparent;
  box-shadow: none;
}

.provider-claims-actions {
  button, a {
    top: -7px;
    color: grey;
  }
}
