span.code {
  color: #cccccc;
  font-size: small;
}

mat-list-item {
  color: grey;

  span.code {
    margin-right: 10px;
  }
}

.idtoken-description {
  font-size: smaller;
}

ngx-datatable.material {
  margin-top: 20px;
  box-shadow: none;
  font-size: 14px;
}

.provider-claims-actions {
  button, a {
    top: -7px;
    color: grey;
  }
}

.datatable-input {
  font-size: 12px;
}

.add-button {
  text-align: right;
}

.add-button-center {
  text-align: center;
}
