:host {
  ::ng-deep.ngx-datatable.material .datatable-footer {
    display: none;
  }

  ::ng-deep.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    font-size: 12px;
  }

  ::ng-deep.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    &:first-child {
      padding-left: 42px;
    }
  }
}
