.gv-page-container {
  .gv-page-content {
    ngx-datatable {
      .device-identifier-header {
        margin: 5px;
        align-items: center;
        .device-identifier-icon {
          margin: 0 12px 0 0;
        }
        .device-identifier-information {
          h3 {
            font-size: 14px;
            font-weight: normal;
            margin: 0;
          }
          small {
            color: rgba(0,0,0,.54);
          }
        }
      }
    }
  }
}

:host {
  ::ng-deep.ngx-datatable.material .datatable-footer {
    display: none;
  }

  ::ng-deep.device-identifier-name-cell {
    padding: 0 !important;
  }
}
