p {
  font-size: smaller;
  margin: 5px 0;
}

ngx-datatable {
  .resource-header {
    margin: 5px;
    align-items: center;
    .resource-icon {
      margin: 0 12px 0 0;
    }
    .resource-information {
      h3 {
        font-size: 14px;
        font-weight: normal;
        margin: 0;
      }
      small {
        color: rgba(0,0,0,.54);
      }
    }
  }
}

:host {
  ::ng-deep.resource-name-cell {
    padding: 0 !important;
  }
}
