.loader {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loader div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #E0E0E0;
  animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.loader div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.loader div:nth-child(3) {
  left: 45px;
  animation-delay: 0s;
}
@keyframes loader {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}
.message {
  color: grey;
  font-size: 90%;
}
