$warning-color: #ff573d;

:host ::ng-deep.ngx-datatable.material .datatable-footer {
  display: none;
}

.material {
  min-height: 290px;
  overflow-y: auto;
}

.warning-icon {
  color: $warning-color;
}
