table {
  width: 100%;
  background: transparent;
  .mat-row,
  .mat-header-row {
    border-bottom: 1px solid #e2e5e7;
    align-items: center;
    min-height: 48px;
    padding: 0 24px;
  }
  .mat-cell,
  .mat-header-cell {
    overflow: hidden;
    word-wrap: break-word;
    font-size: 12px;
    font-weight: bold;
    &.acl {
      width: 70px;
      text-align: center;
    }
    &.acl-header {
      width: 70px;
      text-align: center;
      background-color: rgb(250, 250, 250);
    }
  }
}
