{
  "portalTitle": "Access Management",
  "baseURL": "{{ getenv "MGMT_API_URL" "http://localhost:8093" }}/management",
  "authentication": {
    "domainId": "admin",
    "authorize": "{{ getenv "MGMT_API_URL" "http://localhost:8093" }}/admin/authorize",
    "redirectUri": "{{ getenv "MGMT_UI_URL" "http://localhost:4200" }}/login/callback",
    "logoutUri": "{{ getenv "MGMT_API_URL" "http://localhost:8093" }}/admin/logout?target_url={{ getenv "MGMT_UI_URL" "http://localhost:4200" }}/logout/callback"
  }
}
