:host {
  ::ng-deep {
    ul.checkbox-list {
      margin-block-start: 0;
    }

    fieldset {
      &.resource {
        padding: 10px;
        border: 1px solid grey;
        border-radius: 2px;
        margin-bottom: 10px;
      }

      &.path {
        padding: 10px;
        border: 1px solid rgb(0 0 0 / 12%);
        border-radius: 2px;
        margin: 10px;
        background: #f1f1f1;
      }

      flex-layout-root-widget {
        display: initial !important;
        max-height: 100% !important;
        box-sizing: border-box !important;
        flex-flow: column nowrap !important;
      }
    }
  }
}

:host ::ng-deep .mat-mdc-form-field {
  padding: 10px;
}

:host ::ng-deep mat-error {
  padding-left: 12px;
}

:host ::ng-deep .mat-mdc-form-field-hint {
  white-space: pre-line;
}
