@use 'sass:map';
@use '@gravitee/ui-particles-angular' as gio;

:host {
  ::ng-deep.gio-top-bar-content {
    max-height: 20px;
  }
}

::ng-deep.mat-menu-panel {
  max-width: 380px !important;
}
::ng-deep.mat-menu-content {
  padding-bottom: 2px !important;
}

.gio-top-nav {
  border-bottom: 1px solid map.get(gio.$mat-space-palette, lighter40);
}

.currentDomain {
  color: #fff !important;
  background: rgba(240,241,248,.3) !important;
}

.userAccount {
  width: 380px;
  .userAccountInfo {
    h3 {
      font-size: 14px;
      font-weight: normal;
      margin: 0;
    }
    small {
      color: rgba(0, 0, 0, 0.54);
    }
  }
  .userAccountActions {
    border-top: 1px solid rgb(226, 229, 231);
  }
  .userAccountActions.first {
    background-color: #f5f5f5;
    mat-list-item.domain-disabled {
      mat-icon, h4, span {
        color: orange;
      }
      span {
        font-size: 75%;
      }
      mat-icon.domain-disabled-icon {
        margin-right: 0px;
      }
    }
  }
}

.notifications-menu {
  display: flex;
  margin-left: 5px;
}

.notifications-menu-circle {
  background-color: #e7e2fb;
  color: #000;
  text-align:center;
  border-radius:50%;
  height: 14px;
  width: 14px;
  position: absolute;
  z-index: 2;
  right: 0px;
  top: -3px;
}

.notification > h3 {
  font-size: 16px;
}

.notification > p {
  font-size: 14px;
}

.notification > small {
  margin-bottom: 5px;
  font-weight: lighter;
}

.notification-title {
  display: flex;
  flex-direction: row;
}

.notification-title > button {
  margin-left: auto
}
