mat-toolbar {
  position: fixed;
  background-color: #fff;
  padding: 0 16px 0 7px;
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  left: 0;
  font-size: 16px;
  font-weight: normal;
  .gv-breadcrumb {
    margin-left: 200px;
  }
  .gv-breadcrumb-min {
    margin-left: 60px;
  }
  .fill-remaining-space {
    flex: 1 1 auto;
  }
  .currentDomain {
    font-size: 14px;
    margin-right: 8px;
    font-weight: 500;
  }
  .userAccountMenu {
    margin-top: 10px;
    mat-icon {
      color: grey;
      font-size: 16px;
      width: 16px;
      height: 16px;
      line-height: 0px;
    }
  }
}

.userAccount {
  width: 380px;
  .userAccountInfo {
    h3 {
      font-size: 14px;
      font-weight: normal;
      margin: 0;
    }
    small {
      color: rgba(0, 0, 0, 0.54);
    }
  }
  .userAccountActions {
    border-top: 1px solid rgb(226, 229, 231);
  }
  .userAccountActions.first {
    background-color: #f5f5f5;
    mat-list-item.domain-disabled {
      mat-icon, h4, span {
        color: orange;
      }
      span {
        font-size: 75%;
      }
      mat-icon.domain-disabled-icon {
        margin-right: 0px;
      }
    }
  }
}

::ng-deep.mat-toolbar-row {
  height: 60px !important;
}

::ng-deep.mat-menu-panel {
  max-width: 380px !important;
}

::ng-deep.mat-menu-content {
  padding-bottom: 2px !important;
}
