html, body {
    font-family: "Libre Franklin", sans-serif;
}

.mdl-layout.mdl-js-layout {
    display: block;
    background-color: #2d323e;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 12px;
}

.access-error-container {
    max-width: 360px;
    margin: auto;
    padding: 8% 0 0;
}

.access-error-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.access-error-content h1 {
    font-size: 42px;
}
