.providers-container {
  margin: 50px 20px 0px 0px;
}

.providers-actions {
  button, a {
    top: -7px;
  }
}

.add-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.add-button-center {
  text-align: center;
}
